Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 449530 add the bills timeline api
  src/modules/bill/applications/queries/findBillsTimelineByPurchasedAt/findBillsTimelineByPurchasedAt.handler.ts
  src/modules/bill/applications/queries/findBillsTimelineByPurchasedAt/findBillsTimelineByPurchasedAt.query.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/findBillsTimelineByPurchasedAt.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/domain/types/billTimeline.type.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/findBillsTimeline.request.dto.ts
  src/modules/bill/interface/dtos/findBillsTimeline.response.dto.ts
Due: eslint --fix, prettier --check

chore: 449530 add the client timezone for better date formatting
  src/core/clientTimezone/clientTimezone.decorator.ts
  src/core/clientTimezone/clientTimezone.middleware.ts
  src/core/clientTimezone/clientTimezone.module.ts
  src/core/clientTimezone/clientTimezone.pipe.ts
  src/core/core.module.ts
  src/core/types/request.type.ts
  src/modules/bill/applications/queries/findBillsTimelineByPurchasedAt/findBillsTimelineByPurchasedAt.handler.ts
  src/modules/bill/applications/queries/findBillsTimelineByPurchasedAt/findBillsTimelineByPurchasedAt.query.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/findBillsTimelineByPurchasedAt.service.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 449530 update a package
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 449530 update the end date
  src/modules/bill/applications/services/findBillsTimelineByPurchasedAt.service.ts
Due: eslint --fix, prettier --check

chore: 449530 add the api of the bills period
  src/modules/bill/applications/queries/findBillsPeriodByPurchasedAt/findBillsPeriodByPurchasedAt.handler.ts
  src/modules/bill/applications/queries/findBillsPeriodByPurchasedAt/findBillsPeriodByPurchasedAt.query.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/domain/types/billPeriod.type.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/findBillsPeriod.response.dto.ts
Due: eslint --fix, prettier --check

release: 4.2.6 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  e0b33e5433447997acb6f75905910e5da283b3f6
Due: none

refactor: 653435 update the global filters
  src/core/core.module.ts
  src/core/filters/global/globalFilter.module.ts
  src/core/filters/global/globalFilter.ts
  src/core/filters/global/globalFilterFallbackHost.strategy.ts
  src/core/filters/global/globalFilterHostStrategy.interface.ts
  src/core/filters/global/globalFilterHttpHost.strategy.ts
  src/core/filters/globalFallbackHost.strategy.ts
Due: eslint --fix, prettier --check

refactor: 653435 move serializer folder into features
  src/core/features/serializer/serializer.interceptor.ts
  src/core/features/serializer/serializerInterceptor.decorator.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/search/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

refactor: 653435 use pipe for current user
  src/core/features/authentication/currentUser.decorator.ts
  src/core/features/authentication/currentUser.pipe.ts
Due: eslint --fix, prettier --check

chore: 653435 add the interfaces of export module
  src/modules/export/domain/interfaces/excelGenerator.interface.ts
  src/modules/export/domain/interfaces/exportDataLoader.interface.ts
Due: eslint --fix, prettier --check

refactor: 653435 split the parts of storing and sending email
  src/modules/authentication/applications/services/localForgotPassword.service.ts
  src/modules/authentication/applications/services/localSendVerification.service.ts
  src/modules/authentication/applications/services/localSignup.service.ts
Due: eslint --fix, prettier --check

release: 4.2.7 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  edf0bf0d245ed3d4ec3c1ad5629644df48603551
Due: none

chore: 553939 add a query to find all bills by user id
  src/core/interfaces/repositories/findManyByUserIdRepository.interface.ts
  src/modules/bill/applications/queries/findManyBillsByUserId/findManyBillsByUserId.handler.ts
  src/modules/bill/applications/queries/findManyBillsByUserId/findManyBillsByUserId.query.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
Due: eslint --fix, prettier --check

chore: 553939 add the service related to load all bills based on the user id
  src/modules/bill/applications/services/findManyBillsByUserId.service.ts
  src/modules/bill/bill.module.ts
Due: eslint --fix, prettier --check

chore: 553939 export the related service of bill and create the module of export
  src/app.module.ts
  src/modules/bill/bill.module.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 add the data loader service
  src/modules/export/applications/services/billsExportDataLoader.service.ts
  src/modules/export/domain/interfaces/exportGenerator.interface.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 add the exceljs package
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 553939 add the bill excel generator
  src/modules/export/applications/services/billsExportGenerator.service.ts
  src/modules/export/applications/services/services.constant.ts
  src/modules/export/domain/interfaces/exportGenerator.interface.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 update the package
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 553939 add the bills export orchestrator service
  src/modules/export/applications/services/billsExportOrchestrator.service.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 rename billsExport service
  src/modules/export/applications/services/billsExport.service.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 add the bill export job
  src/core/interfaces/job.interface.ts
  src/modules/export/applications/services/billsExport.job.ts
  src/modules/export/applications/services/billsExportGenerator.service.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 add the mailer service of bills export
  src/modules/export/applications/services/billsExport.service.ts
  src/modules/export/applications/services/billsExportGenerator.service.ts
  src/modules/export/applications/services/billsExportMailer.service.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 add the find many users query
  src/modules/user/applications/queries/findManyUsers/findManyUsers.handler.ts
  src/modules/user/applications/queries/findManyUsers/findManyUsers.query.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 553939 get the users and generate excel for each of them the make a report as an email
  src/core/interfaces/repositories/findManyRepository.interface.ts
  src/modules/export/applications/services/billsExport.job.ts
  src/modules/export/export.module.ts
Due: eslint --fix, prettier --check

chore: 553939 use p-limit
  package.json
  pnpm-lock.yaml
  src/modules/export/applications/services/billsExport.job.ts
Due: eslint --fix, prettier --check

chore: 553939 update constant file
  src/modules/export/applications/services/billsExportGenerator.constant.ts
  src/modules/export/applications/services/billsExportGenerator.service.ts
Due: eslint --fix, prettier --check
