Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 875092 remove the user checking
  src/modules/user/applications/commands/createUser/createUser.handler.ts
Due: eslint --fix, prettier --check

feature: 875092 add the isUserExistsByEmail query
  src/modules/user/applications/queries/isUserExistsByEmail/isUserExistsByEmail.handler.ts
  src/modules/user/applications/queries/isUserExistsByEmail/isUserExistsByEmail.query.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

feature: 875092 add the reset password api
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/passwordMailer.service.ts
  src/modules/authentication/applications/services/passwordStorage.service.ts
  src/modules/authentication/applications/services/passwordToken.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/domain/interfaces/forgotPasswordPayload.interface.ts
  src/modules/authentication/domain/interfaces/newPasswordPayload.interface.ts
  src/modules/authentication/interface/constants/messages.constant.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/resetPassword.request.dto.ts
Due: eslint --fix, prettier --check

fix: 875092 uncomment the throttle
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 use constants and exceptions correctly
  src/common/application/response/response.constant.ts
  src/common/application/response/response.entity.ts
  src/common/constants/messages.constant.ts
  src/core/exceptions/app/error.strategy.ts
  src/core/exceptions/app/exception.constant.ts
  src/core/exceptions/app/exception.strategy.ts
  src/core/exceptions/app/exception.ts
  src/core/exceptions/app/fallback.strategy.ts
  src/core/exceptions/app/http.strategy.ts
  src/core/exceptions/app/object.strategy.ts
  src/core/exceptions/app/string.strategy.ts
  src/core/exceptions/internalServerProcessFailed.exception.ts
  src/core/exceptions/invalidCredential.exception.ts
  src/core/exceptions/unauthorizedProcessFailed.exception.ts
  src/infrastructure/throttler/throttler.constants.ts
  src/modules/authentication/applications/services/authentication.service.ts
Due: eslint --fix, prettier --check

chore: 875092 split the services
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/login.service.ts
  src/modules/authentication/applications/services/password.service.ts
  src/modules/authentication/applications/services/signup.service.ts
  src/modules/authentication/applications/services/verification.service.ts
  src/modules/authentication/authentication.module.ts
Due: eslint --fix, prettier --check

feature: 875092 add the controller and service of authentication for signup and call the create user command
  src/modules/authentication/applications/commands/signup/signup.command.ts
  src/modules/authentication/applications/commands/signup/signup.handler.ts
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/interface/constants/messages.constant.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

feature: 875092 add the path of signup
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

feature: 875092 add PasswordHasherService
  src/modules/user/applications/services/constants/passwordHasher.constant.ts
  src/modules/user/applications/services/passwordHashing.service.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 add the validation pipe with whitelist
  src/common/infrastructure/core/core.module.ts
Due: eslint --fix, prettier --check

config: 875092 add the pnpm installation options
  .npmrc
  Dockerfile
Due: none

fix: 875092 update the path of AppException
  src/common/utils/readSecret.util.ts
Due: eslint --fix, prettier --check

chore: 875092 add the core module
  src/app.module.ts
Due: eslint --fix, prettier --check

chore: 875092 add class-transformer
  package.json
  pnpm-lock.yaml
Due: prettier --check

feature: 875092 add the create user command
  src/modules/user/applications/commands/createUser/createUser.command.ts
Due: eslint --fix, prettier --check

feature: 875092 add the create user command and repository
  src/modules/user/applications/commands/createUser/createUser.handler.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 875092 use signup dto locally
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/singup.dto.ts
Due: eslint --fix, prettier --check

chore: 875092 add SignupDto
  package.json
  pnpm-lock.yaml
  src/common/applications/dtos/singup.dto.ts
Due: eslint --fix, prettier --check

chore: 875092 rename get health query and remove diract call
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/applications/queries/getHealth/getHealth.query.ts
  src/modules/health/applications/services/health.service.ts
Due: eslint --fix, prettier --check

chore: 875092 use toEntityOrThrow for the user creation
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 875092 add @types/pg
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 use CreateUserHandler as providers
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

improvement: 875092 combine message and statuscode of a response to the Response decorator
  src/core/decorators/Response.decorator.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

config: 875092 remove typeorm and @nestjs/typeorm
  package.json
  pnpm-lock.yaml
  src/infrastructure/database/typeorm/queryBuilder.extension.ts
Due: eslint --fix, prettier --check

chore: 875092 inforce message and statuscode
  src/core/interceptors/transformResponse.interceptor.ts
Due: eslint --fix, prettier --check

chore: 875092 upgrade typeorm
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 875092 import the actual QueryBus not as a type
  src/modules/health/applications/services/health.service.ts
Due: eslint --fix, prettier --check

chore: 875092 add argon2
  package.json
  pnpm-lock.yaml
Due: prettier --check

feature: 875092 add the signup commands
  src/modules/authentication/applications/commands/signup/signup.command.ts
  src/modules/authentication/applications/commands/signup/signup.handler.ts
  src/modules/authentication/authentication.module.ts
Due: eslint --fix, prettier --check

fix: 875092 add fast-uri as the overrides
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 move response to presentation
  src/common/infrastructure/core/filters/globalException/globalException.filter.ts
  src/common/infrastructure/core/filters/globalException/globalExceptionHostHandler.interface.ts
  src/common/infrastructure/core/filters/globalException/httpHost.handler.ts
  src/common/infrastructure/core/interceptors/transformResponse.interceptor.ts
  src/common/presentation/response/response.entity.ts
  src/common/presentation/response/response.interface.ts
Due: eslint --fix, prettier --check

chore: 875092 do lint:fix
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 move the core folder to the common
  src/common/core/constants/responseMetadata.constant.ts
  src/common/core/core.module.ts
  src/common/core/decorators/responseMessage.decorator.ts
  src/common/core/decorators/responseStatusCode.decorator.ts
  src/common/core/exceptions/app/error.strategy.ts
  src/common/core/exceptions/app/exception.interface.ts
  src/common/core/exceptions/app/exception.strategy.ts
  src/common/core/exceptions/app/exception.ts
  src/common/core/exceptions/app/exceptionStrategy.interface.ts
  src/common/core/exceptions/app/fallback.strategy.ts
  src/common/core/exceptions/app/http.strategy.ts
  src/common/core/exceptions/app/httpExceptionResponse.interface.ts
  src/common/core/exceptions/app/object.strategy.ts
  src/common/core/exceptions/app/objectException.interface.ts
  src/common/core/exceptions/app/string.strategy.ts
  src/common/core/filters/globalException/fallbackHost.handler.ts
  src/common/core/filters/globalException/globalException.filter.ts
  src/common/core/filters/globalException/globalExceptionHostHandler.interface.ts
  src/common/core/filters/globalException/httpHost.handler.ts
  src/common/core/interceptors/transformResponse.interceptor.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 rename passwordHashing to passwordHasher
  src/modules/authentication/applications/commands/signup/signup.handler.ts
  src/modules/user/applications/services/passwordHasher.service.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

fix: 875092 update the path of AppException
  src/common/utils/environments.util.ts
Due: eslint --fix, prettier --check

feature: 875092 add the extensions of queryBuilder
  src/common/infrastructure/database/database.module.ts
  src/common/infrastructure/database/typeorm/queryBuilder.extension.ts
Due: eslint --fix, prettier --check

fix: 875092 use 4000 port
  docker-compose.development.yml
Due: prettier --check

fix: 875092 seach for just status ok since the response may has a message ok text
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 875092 add CQRSModule
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

config: 875092 add drizzle-orm
  package.json
  pnpm-lock.yaml
Due: prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
