Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 782129 update the response of healthcheck
  Dockerfile
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 remove the images inside cleanup
  scripts/common/docker/runner.sh
Due: none

chore: 782129 add NODE_ENV
  Dockerfile
Due: none

chore: 782129 add restart unless-stopped
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 remove the env path
  src/common/infrastructure/config/config.module.ts
Due: eslint --fix, prettier --check

chore: 782129 pass env files
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 remove ENV_FILE var
  scripts/common/docker/runner.sh
  scripts/common/docker/validations.sh
  scripts/common/docker/vars.sh
  scripts/development/entrypoint.sh
Due: none

chore: 782129 add ignoreEnvFile option
  src/common/infrastructure/config/config.module.ts
Due: eslint --fix, prettier --check

chore: 782129 remove ENV_FILE
  .github/workflows/master-ci.yaml
Due: prettier --check

ci: 782129 update the version of docker scanning
  .github/actions/scan-docker-image/action.yaml
Due: prettier --check

chore: 782129 remove the logs
  scripts/common/docker/runner.sh
Due: none

chore: 782129 remove the port envs and update the healthcheck"
  Dockerfile
Due: none

chore: 782129 remove the envs and add the related env file
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 add the env of ci and add DATABASE_SYNCHRONIZE
  .env
  .env.ci
Due: none

chore: 782129 remove the extra vars
  scripts/development/entrypoint.sh
Due: none

chore: 782129 remove the extra vars
  scripts/common/docker/runner.sh
  scripts/common/docker/validations.sh
  scripts/common/docker/vars.sh
Due: none

chore: 782129 increase timeout of nestjs webiste
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
Due: eslint --fix, prettier --check

chore: 782129 add the username of redis
  src/common/constants/index.ts
Due: eslint --fix, prettier --check

chore: 782129 add synchronize dynamically
  src/common/infrastructure/database/databaseConfig.service.ts
Due: eslint --fix, prettier --check

chore: 782129 add username dynamically
  src/common/infrastructure/redis/redisConfig.service.ts
Due: eslint --fix, prettier --check

ci: 782129 remove ENVIRONMENT
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 782129 add jq to the production stage
  Dockerfile
Due: none
