Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

config: 271190 add ES_JAVA_OPTS env
  docker-compose.production.yml
Due: prettier --check

config: 271190 add the elasticsearch and filebeat
  docker-compose.production.yml
  filebeat.yml
Due: prettier --check

chore: 271190 add the pino configuration
  package.json
  pnpm-lock.yaml
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/pino/pino.module.ts
  src/common/utils/environments.util.ts
  src/main.ts
Due: eslint --fix, prettier --check

chore: 271190 export the version module and the provider name
  src/common/infrastructure/version/version.module.ts
Due: eslint --fix, prettier --check

config: 271190 add the secret related to elasticsearch
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

Notes added by 'git notes add'
  a047223ed8f30b8467ee36ca6c3bbe9fc6a472de
Due: none

release: 1.1.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

chore: 346926 add the json log file
  docker-compose.production.yml
Due: prettier --check

refactor: 346926 move the constatns to the related service and use them inside the modules
  src/common/constants/database.constants.ts
  src/common/constants/redis.constants.ts
  src/common/infrastructure/database/database.constants.ts
  src/common/infrastructure/database/databaseConfig.service.ts
  src/common/infrastructure/exception/exception.constants.ts
  src/common/infrastructure/exception/fallbackException.extractor.ts
  src/common/infrastructure/exception/httpException.extractor.ts
  src/common/infrastructure/exception/standardException.extractor.ts
  src/common/infrastructure/pino/pino.module.ts
  src/common/infrastructure/redis/redis.constants.ts
  src/common/infrastructure/swagger/swagger.service.ts
  src/common/infrastructure/throttler/throttlerConfig.service.ts
  src/common/infrastructure/version/version.constants.ts
  src/common/infrastructure/version/version.implementation.ts
  src/common/infrastructure/version/version.module.ts
  src/common/infrastructure/version/version.provider.ts
  src/common/kernel/exceptions/app/app.exception.ts
  src/common/kernel/exceptions/app/error.strategy.ts
  src/common/kernel/exceptions/app/errorStrategy.interface.ts
  src/common/kernel/exceptions/app/fallback.strategy.ts
  src/common/kernel/exceptions/app/objectWithMessage.strategy.ts
  src/common/kernel/exceptions/app/string.strategy.ts
  src/common/utils/environments.util.ts
  src/common/utils/readSecret.util.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
Due: eslint --fix, prettier --check

refactor: 346926 fix the typeo names
  scripts/common/docker/entrypoint.sh
  scripts/development/createBranchId.sh
Due: none

refactor: 473121 add the strategies of the exceptions
  src/common/infrastructure/exception/exception.filter.ts
  src/common/infrastructure/exception/exception.module.ts
  src/common/infrastructure/exception/exceptionExtractor.interface.ts
  src/common/infrastructure/exception/exceptionResponse.builder.ts
  src/common/infrastructure/exception/exceptionResponse.interface.ts
  src/common/infrastructure/exception/fallbackException.extractor.ts
  src/common/infrastructure/exception/hostHandler.interface.ts
  src/common/infrastructure/exception/httpException.extractor.ts
  src/common/infrastructure/exception/httpHost.handler.ts
  src/common/infrastructure/exception/standardException.extractor.ts
  src/common/infrastructure/throttler/throttlerConfig.service.ts
  src/common/infrastructure/version/version.implementation.ts
  src/common/kernel/exceptions/app/app.exception.ts
  src/common/kernel/exceptions/app/error.strategy.ts
  src/common/kernel/exceptions/app/errorStrategy.interface.ts
  src/common/kernel/exceptions/app/exception.constants.ts
  src/common/kernel/exceptions/app/exception.interface.ts
  src/common/kernel/exceptions/app/exception.ts
  src/common/kernel/exceptions/app/fallback.strategy.ts
  src/common/kernel/exceptions/app/http.strategy.ts
  src/common/kernel/exceptions/app/object.strategy.ts
  src/common/kernel/exceptions/app/objectWithMessage.strategy.ts
  src/common/kernel/exceptions/app/strategy.interface.ts
  src/common/kernel/exceptions/app/string.strategy.ts
  src/common/utils/environments.util.ts
  src/common/utils/readSecret.util.ts
Due: eslint --fix, prettier --check

chore: 473121 add the overrides
  package.json
Due: prettier --check

chore: 473121 update pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 473121 add the version to the services
  docker-compose.production.yml
Due: prettier --check

config: 473121 update the swagger configuration
  src/common/infrastructure/swagger/swagger.module.ts
Due: eslint --fix, prettier --check

chore: 473121 export just VERSION_PROVIDER
  src/common/infrastructure/version/version.implementation.ts
  src/common/infrastructure/version/version.module.ts
  src/common/infrastructure/version/version.provider.ts
Due: eslint --fix, prettier --check

chore: 473121 add the appInstance module
  src/common/infrastructure/appInstance/appInstance.interface.ts
  src/common/infrastructure/appInstance/appInstance.module.ts
  src/common/infrastructure/appInstance/appInstance.service.ts
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/swagger/swagger.module.ts
  src/common/infrastructure/swagger/swagger.service.ts
  src/main.ts
Due: eslint --fix, prettier --check

chore: 473121 add appException strategy
  src/common/kernel/exceptions/app/appException.strategy.ts
  src/common/kernel/exceptions/app/exception.interface.ts
  src/common/kernel/exceptions/app/exception.ts
Due: eslint --fix, prettier --check

chore: 473121 add apiVersioning
  eslint.config.mjs
  src/common/infrastructure/apiVersioning/apiVersioning.interface.ts
  src/common/infrastructure/apiVersioning/apiVersioning.module.ts
  src/common/infrastructure/apiVersioning/apiVersioning.service.ts
  src/common/infrastructure/common.module.ts
  src/main.ts
Due: eslint --fix, prettier --check

chore: 473121 add override to message
  src/common/kernel/exceptions/app/exception.ts
Due: eslint --fix, prettier --check

chore: 473121 add some packages as overrides of pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 473121 upgrade axios
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 473121 update the message of throttler
  src/common/infrastructure/throttler/throttler.guard.ts
  src/common/infrastructure/throttler/throttlerConfig.service.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
