Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 782129 use 6379 for the redis port
  .env
  .env.production
  src/common/constants/index.ts
Due: eslint --fix, prettier --check

chore: 782129 add the username to the redis
  src/common/infrastructure/redis/redisConfig.service.ts
Due: eslint --fix, prettier --check

chore: 782129 set the redis password
  docker-compose.development.yml
Due: prettier --check

chore: 782129 set the redis password
  docker-compose.ci.yml
Due: prettier --check

chore: 782129 enable the versionning
  src/main.ts
Due: eslint --fix, prettier --check

chore: 782129 use the latest tag
  scripts/development/entrypoint.sh
Due: none

chore: 782129 add pnpm-lock.yaml file
  .dockerignore
  Dockerfile
Due: none

chore: 782129 use a simple healthcheck for redis
  docker-compose.development.yml
Due: prettier --check

chore: 782129 add a version to pnpm
  package.json
Due: prettier --check

chore: 782129 convert swarm to compose
  scripts/common/docker/pipelines.sh
  scripts/common/docker/runner.sh
  scripts/common/docker/validations.sh
  scripts/common/docker/vars.sh
Due: none

chore: 782129 use the new version of axios
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 782129 increase the timout and use a warning log
  scripts/common/docker/runner.sh
Due: none

chore: 782129 convert swarm to composee
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.swarm.development.yml
Due: prettier --check

chore: 782129 add INT for cleanup trap
  scripts/common/docker/runner.sh
Due: none

chore: 782129 rename JWT_SECRET
  .env
  .env.production
Due: none

chore: 782129 fix the exit code
  scripts/common/docker/entrypoint.sh
Due: none

ci: 782129 add the steps of creating the secrets and cleanup
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 782129 use a simple healthcheck for redis
  docker-compose.ci.yml
Due: prettier --check

chore: 782129 add the pnpm version
  .github/actions/setup-node/action.yaml
Due: prettier --check

chore: 782129 add some corepack envs to prevent prompt inside docker container
  Dockerfile
Due: none

ci: 782129 do not pull the service
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 remove some extra vars
  scripts/development/entrypoint.sh
Due: none

chore: 782129 update the trap for ERR and INT
  scripts/common/docker/runner.sh
Due: none

chore: 782129 pass the env file
  .github/workflows/master-ci.yaml
  scripts/common/docker/runner.sh
  scripts/common/docker/validations.sh
  scripts/common/docker/vars.sh
  scripts/development/entrypoint.sh
Due: prettier --check

chore: 782129 use better healthcheck
  Dockerfile
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 add the --build option
  scripts/common/docker/runner.sh
Due: none

chore: 782129 add restart: no
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 remove the -a arg
  scripts/common/docker/runner.sh
Due: none

chore: 782129 remove the logs
  scripts/common/docker/runner.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
