Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

config: 786383 improve the docker-build-production process to check the container
  .github/workflows/master-pipeline.yaml
Due: prettier --check

config: 786383 don't ignore .env and .env.production
  .dockerignore
  .env
  .env.production
  .gitignore
Due: none

config: 786383 add the semantic realease configuration
  .releaserc.json
  package-lock.json
  package.json
Due: prettier --check

cd: 786383 add the release.yaml file
  .github/workflows/release.yaml
Due: prettier --check

cd: 786383 implement the release steps
  .github/workflows/master-pipeline.yaml
  .github/workflows/release.yaml
Due: prettier --check

config: 786383 add the port and update the healthcheck pathname
  Dockerfile
Due: none

config: 786383 add the docker-compose.ci.yml file
  docker-compose.ci.yml
Due: prettier --check

config: 786383 use secrets and envs properly
  docker-compose.development.yml
Due: prettier --check

config: 786383 add more envs related to database and redis
  .env
  .env.production
Due: none

config: 786383 add the run-and-test-docker-image action
  .github/actions/run-and-test-docker-image/action.yaml
Due: prettier --check

config: 786383 update the instruction of setup-node
  .github/actions/setup-node/action.yaml
Due: prettier --check

config: 786383 update the ref and groups
  .github/workflows/pr-validation.yaml
Due: prettier --check

config: 786383 update the steps and jobs
  .github/workflows/master-pipeline.yaml
Due: prettier --check

config: 786383 update the steps and jobs
  .github/workflows/release.yaml
Due: prettier --check

config: 786383 update the steps and jobs
  .github/workflows/master-pipeline.yaml
  .github/workflows/release.yaml
Due: prettier --check

config: 786383 apply prettier to the files
  .github/actions/run-and-test-docker-image/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/master-pipeline.yaml
  .github/workflows/pr-validation.yaml
  .github/workflows/release.yaml
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

config: 786383 fix the head_sha name
  .github/workflows/pr-validation.yaml
Due: prettier --check

config: 786383 fix the file name of the actions
  .github/workflows/master-pipeline.yaml
  .github/workflows/pr-validation.yaml
  .github/workflows/release.yaml
Due: prettier --check

config: 786383 update my TODO file
  TODO.txt
Due: none

config: 786383 add the ciDetector.sh script
  scripts/ciDetector.sh
Due: none

config: 786383 change the logic of the docker files for development mode and change the directory
  scripts/docker/development/entrypoint.sh
  scripts/docker/development/updateDependencies.sh
  scripts/docker/updateDependencies.sh
Due: none

config: 786383 use --ignore-scripts
  .github/actions/setup-node/action.yaml
Due: prettier --check

config: 786383 add a checkout-source scripts
  .github/actions/checkout-source/action.yaml
  TODO.txt
Due: prettier --check

config: 786383 use the checkout-source action
  .github/workflows/master-pipeline.yaml
  .github/workflows/pr-validation.yaml
  .github/workflows/release.yaml
Due: prettier --check

config: 786383 add the validateBranchName file to make it as a docker image
  scripts/validateBranchName/.dockerignore
  scripts/validateBranchName/Dockerfile
  scripts/validateBranchName/index.sh
Due: none

config: 786383 add ci:detector and validate:branch:name scripts
  package.json
Due: prettier --check

config: 786383 use npm run validate:branch:name inside husky
  .husky/pre-commit
Due: none

config: 786383 make lint staged more usable
  .husky/pre-commit
  package.json
  scripts/lintStaged.sh
Due: prettier --check

config: 786383 use the outside BRANCH
  scripts/validateBranchName/index.sh
Due: none

config: 786383 add the detect:branch:name script
  package.json
  scripts/detectBranchName/.dockerignore
  scripts/detectBranchName/Dockerfile
  scripts/detectBranchName/index.sh
Due: prettier --check

config: 786383 use without --no-install
  scripts/lintStaged.sh
Due: none

config: 786383 add the validate:commit:message script
  .husky/commit-msg
  package.json
  scripts/validateCommitMessage.sh
Due: prettier --check

config: 786383 conver generateBranchId to sh file
  package.json
  scripts/generateBranchId.js
  scripts/generateBranchId.sh
Due: eslint --fix, prettier --check

config: 786383 add the getCommitSha script
  package.json
  scripts/getCommitSha/.dockerignore
  scripts/getCommitSha/Dockerfile
  scripts/getCommitSha/index.sh
Due: prettier --check

config: 786383 output the branch name
  scripts/detectBranchName/index.sh
Due: none

config: 786383 add the createVersion script
  scripts/createVersion/.dockerignore
  scripts/createVersion/Dockerfile
  scripts/createVersion/index.sh
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
