Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 062765 add resources
  src/modules/bill/domain/enums/bill.enum.ts
  src/modules/consumer/domain/enums/consumer.enum.ts
  src/modules/location/domain/enums/location.enum.ts
  src/modules/receiver/domain/enums/receiver.enum.ts
  src/modules/user/domain/enums/user.enum.ts
Due: eslint --fix, prettier --check

chore: 062765 add the message events
  src/modules/authentication/domain/enums/authenticationMessageEvent.enum.ts
  src/modules/bill/domain/enums/billMessageEvent.enum.ts
  src/modules/consumer/domain/enums/consumerMessageEvent.enum.ts
  src/modules/location/domain/enums/locationMessageEvent.enum.ts
  src/modules/receiver/domain/enums/receiverMessageEvent.enum.ts
  src/modules/user/domain/enums/userMessageEvent.enum.ts
Due: eslint --fix, prettier --check

chore: 062765 add concurrency
  src/core/utils/concurrency.util.ts
Due: eslint --fix, prettier --check

refactor: 062765 remove route
  src/core/features/message/messageDiscovery.service.ts
  src/core/features/message/messageHandler.decorator.ts
  src/core/features/message/messageHandler.interface.ts
  src/core/features/message/messageHeader.type.ts
  src/core/features/message/messageRegistry.service.ts
  src/infrastructure/kafka/kafkaBatchParser.service.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

refactor: 062765 remove route and use just event type
  src/modules/outbox/domain/domain.constants.ts
  src/modules/outbox/domain/types/outboxEventAggregateType.type.ts
  src/modules/outbox/domain/types/outboxEventRoute.type.ts
  src/modules/outbox/domain/types/outboxEventType.type.ts
  src/modules/outbox/domain/utils/createOutboxRoute.util.ts
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
Due: eslint --fix, prettier --check

refactor: 062765 remove route
  scripts/debezium/registerConnector.sh
Due: none

refactor: 062765 rename messages and use message events
  src/modules/authentication/applications/messages/localAccountCreation/deleteLocalAccountCreationCache.handler.ts
  src/modules/authentication/applications/messages/localAccountInitiation/sendLocalAccountInitiationEmail.handler.ts
  src/modules/authentication/applications/messages/localForgotPassword/sendForgotPasswordEmail.handler.ts
  src/modules/authentication/applications/messages/localResetPassword/deleteLocalResetPasswordCache.handler.ts
  src/modules/authentication/applications/messages/localResetPassword/sendLocalResetPasswordEmail.handler.ts
  src/modules/authentication/applications/messages/localSignup/deleteLocalSignupCache.handler.ts
  src/modules/authentication/applications/messages/localSignupInitiation/sendSignupInitiationEmail.handler.ts
  src/modules/authentication/applications/services/localAccountCreation.service.ts
  src/modules/authentication/applications/services/localAccountInitiation.service.ts
  src/modules/authentication/applications/services/localForgotPassword.service.ts
  src/modules/authentication/applications/services/localResetPassword.service.ts
  src/modules/authentication/applications/services/localSignup.service.ts
  src/modules/authentication/applications/services/localSignupInitiation.service.ts
  src/modules/authentication/authentication.enum.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/domain/enums/authentication.enum.ts
Due: eslint --fix, prettier --check

refactor: 062765 use message events
  src/modules/bill/applications/messages/billCacheInvalidator.processor.ts
  src/modules/bill/applications/messages/createdBill/createdBillCacheInvalidator.handler.ts
  src/modules/bill/applications/messages/createdBill/createdBillElasticsearchIndexer.handler.ts
  src/modules/bill/applications/messages/deletedBill/deletedBillCacheInvalidator.handler.ts
  src/modules/bill/applications/messages/deletedBill/deletedBillElasticsearchRemover.handler.ts
  src/modules/bill/applications/messages/deletedUser/deletedUserBillCacheInvalidator.handler.ts
  src/modules/bill/applications/messages/deletedUser/deletedUserBillElasticsearchRemover.handler.ts
  src/modules/bill/applications/messages/updatedBill/updatedBillCacheInvalidator.handler.ts
  src/modules/bill/applications/messages/updatedBill/updatedBillElasticsearchIndexer.handler.ts
  src/modules/bill/applications/queries/findBillByUserIdAndIdOrThrow/findBillByUserIdAndIdOrThrow.query.ts
  src/modules/bill/applications/queries/findBillListByUserId/findBillListByUserId.query.ts
  src/modules/bill/applications/queries/findBillsPeriodByPurchasedAt/findBillsPeriodByPurchasedAt.query.ts
  src/modules/bill/applications/queries/findBillsTimelineByPurchasedAt/findBillsTimelineByPurchasedAt.query.ts
  src/modules/bill/applications/queries/findManyBillsByUserIdAndIds/findManyBillsByUserIdAndIds.query.ts
  src/modules/bill/applications/queries/findMostUsedConsumers/findMostUsedConsumers.query.ts
  src/modules/bill/applications/queries/findMostUsedLocations/findMostUsedLocations.query.ts
  src/modules/bill/applications/queries/findMostUsedReceivers/findMostUsedReceivers.query.ts
  src/modules/bill/applications/queries/findTotalBillsByUserId/findTotalBillsByUserId.query.ts
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/applications/services/deleteBill.service.ts
  src/modules/bill/applications/services/search/billSearchSync.service.ts
  src/modules/bill/applications/services/updateBill.service.ts
  src/modules/bill/bill.enum.ts
  src/modules/bill/domain/enums/bill.enum.ts
  src/modules/bill/infrastructure/elasticsearch/billElasticsearch.index.ts
  src/modules/bill/infrastructure/elasticsearch/deleteBillsElasticsearch.query.ts
  src/modules/bill/infrastructure/elasticsearch/findBillListElasticsearch.query.ts
Due: eslint --fix, prettier --check

refactor: 062765 use message events
  src/modules/consumer/applications/messages/consumerCacheInvalidator.processor.ts
  src/modules/consumer/applications/messages/createdConsumer/createdConsumerCacheInvalidator.handler.ts
  src/modules/consumer/applications/messages/createdConsumer/createdConsumerElasticsearchIndexer.handler.ts
  src/modules/consumer/applications/messages/deletedConsumer/deletedConsumerCacheInvalidator.handler.ts
  src/modules/consumer/applications/messages/deletedConsumer/deletedConsumerElasticsearchRemover.handler.ts
  src/modules/consumer/applications/messages/deletedUser/deletedUserConsumerCacheInvalidator.handler.ts
  src/modules/consumer/applications/messages/deletedUser/deletedUserConsumerElasticsearchRemover.handler.ts
  src/modules/consumer/applications/messages/updatedConsumer/updatedConsumerCacheInvalidator.handler.ts
  src/modules/consumer/applications/messages/updatedConsumer/updatedConsumerElasticsearchRemover.handler.ts
  src/modules/consumer/applications/queries/findConsumerByUserIdAndIdOrThrow/findConsumerByUserIdAndIdOrThrow.query.ts
  src/modules/consumer/applications/queries/findConsumerListByUserId/findConsumerListByUserId.query.ts
  src/modules/consumer/applications/queries/findManyBillConsumerTargetsByRefIds/findManyBillConsumerTargetsByRefIds.query.ts
  src/modules/consumer/applications/queries/findManyBillsConsumersByRefId/findManyBillsConsumersByRefId.query.ts
  src/modules/consumer/applications/queries/findManyConsumersByUserIdAndIds/findManyConsumersByUserIdAndIds.query.ts
  src/modules/consumer/applications/queries/findTotalConsumersByUserId/findTotalConsumersByUserId.query.ts
  src/modules/consumer/applications/services/createConsumer.service.ts
  src/modules/consumer/applications/services/deleteConsumer.service.ts
  src/modules/consumer/applications/services/search/consumerSearchSync.service.ts
  src/modules/consumer/applications/services/updateConsumer.service.ts
  src/modules/consumer/consumer.enum.ts
  src/modules/consumer/infrastructure/elasticsearch/consumerElasticsearch.index.ts
  src/modules/consumer/infrastructure/elasticsearch/deleteConsumersElasticsearch.query.ts
  src/modules/consumer/infrastructure/elasticsearch/findConsumerListElasticsearch.query.ts
Due: eslint --fix, prettier --check

refactor: 062765 use message events
  src/modules/location/applications/messages/createdLocation/createdLocationCacheInvalidator.handler.ts
  src/modules/location/applications/messages/createdLocation/createdLocationElasticsearchIndexer.handler.ts
  src/modules/location/applications/messages/deletedLocation/deletedLocationCacheInvalidator.handler.ts
  src/modules/location/applications/messages/deletedLocation/deletedLocationElasticsearchRemover.handler.ts
  src/modules/location/applications/messages/deletedUser/deletedUserLocationCacheInvalidator.handler.ts
  src/modules/location/applications/messages/deletedUser/deletedUserLocationElasticsearchRemover.handler.ts
  src/modules/location/applications/messages/locationCacheInvalidator.processor.ts
  src/modules/location/applications/messages/updatedLocation/updatedLocationCacheInvalidator.handler.ts
  src/modules/location/applications/messages/updatedLocation/updatedLocationElasticsearchIndexer.handler.ts
  src/modules/location/applications/queries/findLocationByUserIdAndIdOrThrow/findLocationByUserIdAndIdOrThrow.query.ts
  src/modules/location/applications/queries/findLocationListByUserId/findLocationListByUserId.query.ts
  src/modules/location/applications/queries/findManyLocationsByUserIdAndIds/findManyLocationsByUserIdAndIds.query.ts
  src/modules/location/applications/queries/findTotalLocationsByUserId/findTotalLocationsByUserId.query.ts
  src/modules/location/applications/services/createLocation.service.ts
  src/modules/location/applications/services/deleteLocation.service.ts
  src/modules/location/applications/services/search/locationSearchSync.service.ts
  src/modules/location/applications/services/updateLocation.service.ts
  src/modules/location/infrastructure/elasticsearch/deleteLocationsElasticsearch.query.ts
  src/modules/location/infrastructure/elasticsearch/findLocationListElasticsearch.query.ts
  src/modules/location/infrastructure/elasticsearch/locationElasticsearch.index.ts
  src/modules/location/location.enum.ts
Due: eslint --fix, prettier --check

refactor: 062765 use message events
  src/modules/receiver/applications/messages/createdReceiver/createdReceiverCacheInvalidator.handler.ts
  src/modules/receiver/applications/messages/createdReceiver/createdReceiverElasticsearchIndexer.handler.ts
  src/modules/receiver/applications/messages/deletedReceiver/deletedReceiverCacheInvalidator.handler.ts
  src/modules/receiver/applications/messages/deletedReceiver/deletedReceiverElasticearchRemover.handler.ts
  src/modules/receiver/applications/messages/deletedUser/deletedUserReceiverCacheInvalidator.handler.ts
  src/modules/receiver/applications/messages/deletedUser/deletedUserReceiverMessageElasticsearchRemover.handler.ts
  src/modules/receiver/applications/messages/receiverCacheInvalidator.processor.ts
  src/modules/receiver/applications/messages/updatedReceiver/updatedReceiverCacheInvalidator.handler.ts
  src/modules/receiver/applications/messages/updatedReceiver/updatedReceiverElasticsearchIndexer.handler.ts
  src/modules/receiver/applications/queries/findManyReceiversByUserIdAndIds/findManyReceiversByUserIdAndIds.query.ts
  src/modules/receiver/applications/queries/findReceiverByUserIdAndIdOrThrow/findReceiverByUserIdAndIdOrThrow.query.ts
  src/modules/receiver/applications/queries/findReceiverListByUserId/findReceiverListByUserId.query.ts
  src/modules/receiver/applications/queries/findTotalReceiversByUserId/findTotalReceiversByUserId.query.ts
  src/modules/receiver/applications/services/createReceiver.service.ts
  src/modules/receiver/applications/services/deleteReceiver.service.ts
  src/modules/receiver/applications/services/search/receiverSearchSync.service.ts
  src/modules/receiver/applications/services/updateReceiver.service.ts
  src/modules/receiver/infrastructure/elasticsearch/deleteReceiversElasticsearch.query.ts
  src/modules/receiver/infrastructure/elasticsearch/findReceiverListElasticsearch.query.ts
  src/modules/receiver/infrastructure/elasticsearch/receiverElasticsearch.index.ts
  src/modules/receiver/receiver.enum.ts
Due: eslint --fix, prettier --check

refactor: 062765 use new located resources
  src/modules/search/infrastructure/elasticsearch/deleteDocsByUserIdsElasticsearch.query.ts
  src/modules/search/infrastructure/elasticsearch/findUserIdListElasticsearch.query.ts
Due: eslint --fix, prettier --check

refactor: 062765 use message events
  src/modules/user/applications/messages/createdUser/createdUserCacheInvalidator.handler.ts
  src/modules/user/applications/messages/deletedUser/deletedUserCacheInvalidator.handler.ts
  src/modules/user/applications/messages/updatedUser/updatedUserCacheInvalidator.handler.ts
  src/modules/user/applications/messages/userCacheInvalidator.processor.ts
  src/modules/user/applications/queries/findTotalUsers/findTotalUsers.query.ts
  src/modules/user/applications/queries/findUserByIdOrNull/findUserByIdOrNull.query.ts
  src/modules/user/applications/queries/findUserByIdOrThrow/findUserByIdOrThrow.query.ts
  src/modules/user/applications/queries/findUserIdList/findUserIdList.query.ts
  src/modules/user/applications/queries/findUserList/findUserList.query.ts
  src/modules/user/applications/services/createUser.service.ts
  src/modules/user/applications/services/deleteUser.service.ts
  src/modules/user/applications/services/updateUser.service.ts
  src/modules/user/user.enum.ts
Due: eslint --fix, prettier --check

refactor: 062765 use global concurrency
  src/modules/bill/applications/services/export/billsExport.job.ts
Due: eslint --fix, prettier --check

refactor: 062765 use a proper time to be sync the operation
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/applications/services/updateBill.service.ts
  src/modules/consumer/applications/services/createConsumer.service.ts
  src/modules/consumer/applications/services/updateConsumer.service.ts
  src/modules/location/applications/services/createLocation.service.ts
  src/modules/location/applications/services/updateLocation.service.ts
  src/modules/receiver/applications/services/createReceiver.service.ts
  src/modules/receiver/applications/services/updateReceiver.service.ts
  src/modules/user/applications/services/createUser.service.ts
  src/modules/user/applications/services/updateUser.service.ts
Due: eslint --fix, prettier --check

fix: 062765 use the resources
  src/core/features/cache/cacheNamespace.type.ts
  src/modules/consumer/applications/messages/consumerCacheInvalidator.processor.ts
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
  src/modules/receiver/applications/messages/receiverCacheInvalidator.processor.ts
Due: eslint --fix, prettier --check

chore: 062765 change the route field
  scripts/debezium/registerConnector.sh
Due: none

chore: 062765 use eventType
  scripts/debezium/registerConnector.sh
Due: none

release: 5.0.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  2bec5b33da60f4cf8497a74edecb13f412d07597
Due: none

refactor: 316857 reuse cahce everywhere needed
  src/core/features/cache/cache.constants.ts
  src/core/features/cache/cache.module.ts
  src/core/features/cache/cache.service.ts
  src/core/features/queryCache/queryCache.constants.ts
  src/core/features/queryCache/queryCache.module.ts
  src/core/features/queryCache/queryCache.service.ts
  src/infrastructure/infrastructure.module.ts
  src/infrastructure/throttler/throttler.module.ts
  src/infrastructure/throttler/throttlerConfig.service.ts
  src/modules/authentication/applications/services/localAccountStorage.service.ts
  src/modules/authentication/applications/services/localSignupStorage.service.ts
  src/modules/authentication/applications/services/passwordStorage.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/health.module.ts
  src/modules/health/infrastructure/indicators/cache.indicator.ts
Due: eslint --fix, prettier --check
