Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 157169 use TOutboxEventType
  src/core/message/messageHeader.interface.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add route for kafka top
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
Due: eslint --fix, prettier --check

chore: 157169 use route instead of aggregate_type
  scripts/debezium/registerConnector.sh
Due: none

chore: 157169 defining each fields
  src/modules/outbox/domain/interfaces/outboxEventRoute.interface.ts
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
Due: eslint --fix, prettier --check

chore: 157169 remove the extra type of outbox
  src/modules/bill/domain/interfaces/billOutboxEvent.interface.ts
  src/modules/consumer/domain/interfaces/consumerOutboxEvent.interface.ts
  src/modules/location/domain/interfaces/locationOutboxEvent.interface.ts
  src/modules/receiver/domain/interfaces/receiverOutboxEvent.interface.ts
Due: eslint --fix, prettier --check

chore: 157169 use route instead of aggregate type
  scripts/debezium/registerConnector.sh
  src/core/message/messageHandler.interface.ts
  src/core/message/messageHeader.interface.ts
  src/core/message/messageRegistry.service.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 use route inside CreateReceiverMessageHandler
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessage.handler.ts
Due: eslint --fix, prettier --check

fix: 157169 fix the error for now becuase of the drizzle schema
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
  src/modules/outbox/infrastructure/repositories/outboxEvent.repository.ts
Due: eslint --fix, prettier --check

chore: 157169 update the topics
  src/infrastructure/kafka/kafkaConsumer.service.ts
  src/modules/outbox/domain/domain.constants.ts
Due: eslint --fix, prettier --check

fix: 157169 remove snapshot.mode
  scripts/debezium/registerConnector.sh
Due: none

chore: 157169 add route as a defualt column
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
  src/modules/outbox/domain/utils/createOutboxRoute.util.ts
  src/modules/outbox/infrastructure/repositories/outboxEvent.repository.ts
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
Due: eslint --fix, prettier --check

chore: 157169 add updateReceiver message
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 157169 restric the type
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessageElasticsearch.processor.ts
Due: eslint --fix, prettier --check

chore: 157169 add the custom bulk to hanlde errors
  src/infrastructure/elasticsearch/elasticsearch.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add deleteReceiver message
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 157169 use custom bulk
  eslint.config.mjs
  src/infrastructure/elasticsearch/elasticsearch.service.ts
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessageElasticsearch.processor.ts
Due: eslint --fix, prettier --check

chore: 157169 add the create location message
  src/modules/location/applications/messages/createLocation/createLocationMessage.handler.ts
  src/modules/location/applications/messages/createLocation/createLocationMessageElasticsearch.processor.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add the update location message
  src/modules/location/applications/messages/updateLocation/updateLocationMessage.handler.ts
  src/modules/location/applications/messages/updateLocation/updateLocationMessageElasticsearch.processor.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add the delete location message
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessage.handler.ts
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessageElasticsearch.processor.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add the consumer messages
  src/infrastructure/elasticsearch/elasticsearch.service.ts
  src/modules/consumer/applications/messages/createConsumer/createConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/createConsumer/createConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/applications/messages/deleteConsumer/deleteConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/deleteConsumer/deleteConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/applications/messages/updateConsumer/updateConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/updateConsumer/updateConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/consumer.module.ts
  src/modules/location/applications/messages/createLocation/createLocationMessage.handler.ts
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessage.handler.ts
  src/modules/location/applications/messages/updateLocation/updateLocationMessage.handler.ts
Due: eslint --fix, prettier --check

chore: 157169 add the bill messages
  src/modules/bill/applications/messages/createBill/createBillMessage.handler.ts
  src/modules/bill/applications/messages/createBill/createBillMessageElasticsearch.processor.ts
  src/modules/bill/applications/messages/deleteBill/deleteBillMessage.handler.ts
  src/modules/bill/applications/messages/deleteBill/deleteBillMessageElasticsearch.processor.ts
  src/modules/bill/applications/messages/updateBill/updateBillMessage.handler.ts
  src/modules/bill/applications/messages/updateBill/updateBillMessageElasticsearch.processor.ts
  src/modules/bill/bill.module.ts
  src/modules/consumer/applications/messages/createConsumer/createConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/deleteConsumer/deleteConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/updateConsumer/updateConsumerMessage.handler.ts
Due: eslint --fix, prettier --check

fix: 157169 upgrade the packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 157169 add the kafka batch parser
  src/infrastructure/kafka/kafka.module.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the message header and payload
  src/core/message/messageBatch.interface.ts
  src/core/message/messageHandler.interface.ts
  src/core/message/messageHeader.interface.ts
  src/core/message/messagePayload.interface.ts
  src/core/message/messageRegistry.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the url of elasticsearch
  .env
  .env.production
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 157169 add the message processor
  src/core/message/messageHandler.interface.ts
  src/core/message/messageProcessor.interface.ts
Due: eslint --fix, prettier --check

chore: 157169 downgrade elastic to 8.17
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 157169 add the elasticsearch service
  src/infrastructure/elasticsearch/elasticsearch.module.ts
  src/infrastructure/elasticsearch/elasticsearch.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the properties to the header
  scripts/debezium/registerConnector.sh
Due: none

chore: 157169 add elasticsearch service
  .github/workflows/pr-ci.yaml
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 157169 add @xhmikosr/decompress as ovverrides
  pnpm-lock.yaml
Due: prettier --check

chore: 157169 pass just batch to each message
  src/core/message/messageHandler.interface.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 create the message of create receiver
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add chmod to elasticsearch password
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore: 157169 use my own elasticsearch hub
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
