Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 782129 add synchronize dynamically
  src/common/infrastructure/database/databaseConfig.service.ts
Due: eslint --fix, prettier --check

chore: 782129 add jq to the production stage
  Dockerfile
Due: none

chore: 782129 remove the port envs and update the healthcheck"
  Dockerfile
Due: none

ci: 782129 add the docker login step
  .github/workflows/master-ci.yaml
Due: prettier --check

ci: 782129 pass the snyk token as an input
  .github/actions/scan-docker-image/action.yaml
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 782129 remove the healthcheck
  Dockerfile
Due: none

chore: 782129 add the ci production compose file
  docker-compose.ci.production.yml
Due: prettier --check

chore: 782129 add an step to use the images inside github output
  scripts/common/docker/pipelines.sh
  scripts/common/docker/runner.sh
  scripts/common/docker/vars.sh
Due: none

chore: 782129 add an step for logging out from docker hub
  .github/workflows/master-ci.yaml
Due: prettier --check

cd: 782129 add the steps related to the run, test and push the docker images
  .github/workflows/release.yaml
Due: prettier --check

cd: 842373 add the pnpm command
  .github/workflows/release.yaml
Due: prettier --check

cd: 842373 capture the errors of semantic output
  scripts/ci/createVersion.sh
Due: none

cd: 842373 add the GITHUB_TOKEN secret
  .github/workflows/release.yaml
Due: prettier --check

chore: 842373 fix the case sensitivty
  scripts/ci/createVersion.sh
Due: none

cd: 842373 use PAT_TOKEN
  .github/workflows/release.yaml
Due: prettier --check

chore: 1.0.0
  VERSION.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  6b4a582739000185c28264bc9af0b14bc9e1128a
Due: none

chore: 842373 remove package-lock.json file
  .releaserc.json
Due: prettier --check

chore: 842373 edit the release commit message
  .releaserc.json
Due: prettier --check

cd: 842373 add a timout and use GITHUB_TOKEN
  .github/workflows/release.yaml
Due: prettier --check

chore: 842373 rename version to changelog
  .releaserc.json
Due: prettier --check

chore: 842373 remove version.md
  VERSION.md
Due: prettier --check

cd: 842373 add SEMANTIC_RELEASE_BOT_PAT_TOKEN
  .github/workflows/release.yaml
Due: prettier --check
