Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 106976 use .sh
  package.json
Due: prettier --check

chore: 106976 add production path
  docker-compose.postgresql.restore.yml
Due: prettier --check

release: 5.1.19 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  838e2cf369be0019c3a18b9eedd2e38113bd98d9
Due: none

chore: 106976 increase backup files
  scripts/database/backup.sh
Due: none

chore: 106976 increase the backup time
  dbBackup.cron
Due: none

release: 5.1.20 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  28bd883dd7376c507cedaa946cbfaa2c8c6d0a3e
Due: none

chore: 106976 update the packages
  package.json
  pnpm-lock.yaml
  vex.json
Due: prettier --check

chore: 106976 add ioredis and ignore deepmerge since there is no patched version
  .snyk
  package.json
  pnpm-lock.yaml
  vex.json
Due: prettier --check

chore: 106976 format pnpm-lock.yaml file
  pnpm-lock.yaml
Due: prettier --check

release: 5.1.21 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  59acbc7df625e6ce8ecb6cb425ea68ebc211b320
Due: none

chore: 106976 rename docker file of postgres
  Dockerfile.postgresql
  docker-compose.production.yml
Due: prettier --check

release: 5.1.22 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  eef2895ba187472aabd8416bb0c191b167ec1d06
Due: none

chore: 989202 remove authentication
  src/infrastructure/swagger/swagger.service.ts
Due: eslint --fix, prettier --check

chore: 989202 remove swc and add the auto complete swagger metadata plugin
  .lintstagedrc
  nest-cli.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 989202 remove git add
  .lintstagedrc
Due: none

chore: 989202 ignore drizzle config file
  tsconfig.build.json
Due: prettier --check

chore: 989202 add the swagger decorators to the authentication module
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 989202 complie app into commonjs
  nest-cli.json
  tsconfig.json
Due: prettier --check

chore: 989202 use onModuleInit
  src/infrastructure/swagger/swagger.service.ts
Due: eslint --fix, prettier --check

chore: 989202 add the type & dto of exception
  src/core/features/exceptionNormalizer/exception.dto.ts
  src/core/features/exceptionNormalizer/exception.type.ts
  src/core/features/exceptionNormalizer/exceptionNormalizer.entity.ts
Due: eslint --fix, prettier --check

chore: 989202 add the schema & dto of http respnose
  src/core/features/responses/http/httpResponse.dto.ts
  src/core/features/responses/http/httpResponseSwagger.schema.ts
Due: eslint --fix, prettier --check

chore: 989202 add ApiProperty to all dtos
  src/modules/authentication/interface/dtos/localAccountCreation.request.dto.ts
  src/modules/authentication/interface/dtos/localAccountInitiation.request.dto.ts
  src/modules/authentication/interface/dtos/localForgotPassword.request.dto.ts
  src/modules/authentication/interface/dtos/localLogin.request.dto.ts
  src/modules/authentication/interface/dtos/localResetPassword.request.dto.ts
  src/modules/authentication/interface/dtos/localSignup.request.dto.ts
  src/modules/authentication/interface/dtos/localSignupInitiation.request.dto.ts
Due: eslint --fix, prettier --check

chore: 989202 add the responses of swagger to authentication module
  src/core/features/responses/http/httpResponseSwagger.schema.ts
  src/infrastructure/swagger/schemas/httpBooleanResponse.schema.ts
  src/infrastructure/swagger/schemas/httpExceptionResponse.schema.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 989202 add the api properties of bill dtos
  src/modules/bill/interface/dtos/bill.response.dto.ts
  src/modules/bill/interface/dtos/createBill.request.dto.ts
  src/modules/bill/interface/dtos/deleteBill.request.dto.ts
  src/modules/bill/interface/dtos/findBill.request.dto.ts
  src/modules/bill/interface/dtos/findBillList.request.dto.ts
  src/modules/bill/interface/dtos/findBillList.response.dto.ts
  src/modules/bill/interface/dtos/findBillsPeriod.response.dto.ts
  src/modules/bill/interface/dtos/findBillsTimeline.request.dto.ts
  src/modules/bill/interface/dtos/findBillsTimeline.response.dto.ts
  src/modules/bill/interface/dtos/mostUsed.request.dto.ts
  src/modules/bill/interface/dtos/mostUsedConsumer.response.dto.ts
  src/modules/bill/interface/dtos/mostUsedLocation.response.dto.ts
  src/modules/bill/interface/dtos/mostUsedReceiver.response.dto.ts
  src/modules/bill/interface/dtos/updateBill.request.dto.ts
Due: eslint --fix, prettier --check

chore: 989202 add the decorators of the swagger to the bill apis
  src/core/dtos/id.response.dto.ts
  src/core/dtos/total.response.dto.ts
  src/infrastructure/swagger/content/excel.content.ts
  src/infrastructure/swagger/schemas/httpIdResponse.schema.ts
  src/infrastructure/swagger/schemas/httpTotalResponse.schema.ts
  src/modules/bill/infrastructure/swagger/schemas/httpBillListResponse.schema.ts
  src/modules/bill/infrastructure/swagger/schemas/httpBillResponse.schema.ts
  src/modules/bill/infrastructure/swagger/schemas/httpBillsPeriodResponse.schema.ts
  src/modules/bill/infrastructure/swagger/schemas/httpBillsTimelineResponse.schema.ts
  src/modules/bill/infrastructure/swagger/schemas/httpMostUsedConsumersResponse.schema.ts
  src/modules/bill/infrastructure/swagger/schemas/httpMostUsedLocationsResponse.schema.ts
  src/modules/bill/infrastructure/swagger/schemas/httpMostUsedReceiversResponse.schema.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 989202 add the throttler decorator response
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 989202 add the api property of consumer dtos
  src/modules/consumer/interfaces/dtos/consumer.response.dto.ts
  src/modules/consumer/interfaces/dtos/consumerSearch.request.dto.ts
  src/modules/consumer/interfaces/dtos/createConsumer.request.dto.ts
  src/modules/consumer/interfaces/dtos/deleteConsumer.request.dto.ts
  src/modules/consumer/interfaces/dtos/findConsumerById.request.dto.ts
  src/modules/consumer/interfaces/dtos/findConsumerList.request.dto.ts
  src/modules/consumer/interfaces/dtos/findConsumerList.response.dto.ts
  src/modules/consumer/interfaces/dtos/updateConsumer.request.dto.ts
Due: eslint --fix, prettier --check

chore: 989202 add the swagger decorators to consumer apis
  src/modules/consumer/infrastructure/swagger/schemas/httpConsumerListResponse.schema.ts
  src/modules/consumer/infrastructure/swagger/schemas/httpConsumerResponse.schema.ts
  src/modules/consumer/infrastructure/swagger/schemas/httpConsumersResponse.schema.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 989202 add the api bad request response to the apis
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check
