Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 173201 add FindBillListAndTotalByUserIdService
  src/modules/bill/applications/services/findBillListAndTotalByUserId.service.ts
  src/modules/bill/applications/services/findBillListByUserId.service.ts
  src/modules/bill/bill.module.ts
Due: eslint --fix, prettier --check

chore: 173201 add FindConsumerListAndTotalByUserIdService
  src/modules/consumer/applications/services/findConsumerListAndTotalByUserId.service.ts
  src/modules/consumer/applications/services/findConsumerListByUserId.service.ts
  src/modules/consumer/consumer.module.ts
Due: eslint --fix, prettier --check

chore: 173201 add FindLocationListAndTotalByUserIdService
  src/modules/location/applications/services/findLocationListAndTotalByUserId.service.ts
  src/modules/location/applications/services/findLocationListByUserId.service.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 173201 add FindReceiverListAndTotalByUserIdService
  src/modules/receiver/applications/services/findReceiverListAndTotalByUserId.service.ts
  src/modules/receiver/applications/services/findReceiverListByUserId.service.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 173201 add FindUserListAndTotalService
  src/modules/user/applications/services/findUserList.service.ts
  src/modules/user/applications/services/findUserListAndTotal.service.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 173201 use FindUserListAndTotalService
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 173201 use FindConsumerListAndTotalByUserIdService
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 173201 use FindLocationListAndTotalByUserIdService
  src/modules/location/applications/services/location.service.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 173201 use FindReceiverListAndTotalByUserIdService
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 173201 use FindUserListAndTotalService
  src/modules/user/applications/services/user.service.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 173201 add IListResultWithTotal
  src/core/types/list/listResult.type.ts
  src/core/types/list/listResultWithTotal.type.ts
Due: eslint --fix, prettier --check

release: 4.3.3 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  6a491a431db9859fc58ff6293961c2c252917802
Due: none

refactor: 704595 update the path of the scripts
  .github/workflows/pr-ci.yaml
  .github/workflows/release.yaml
  .husky/commit-msg
  .husky/pre-commit
  package.json
  scripts/appName.sh
  scripts/ci/docker/entrypoint.ci.production.sh
  scripts/ci/docker/entrypoint.ci.sh
  scripts/ci/validateBranchName.sh
  scripts/ciValidateBranchName.sh
  scripts/common/.DS_Store
  scripts/createBranchId.sh
  scripts/createHash.sh
  scripts/createVersion.sh
  scripts/detectBranchName.sh
  scripts/detectCommitSha.sh
  scripts/developmentValidateBranchName.sh
  scripts/docker/ciEntrypoin.sh
  scripts/docker/ciProductionEntrypoint.sh
  scripts/docker/createImageName.sh
  scripts/docker/developmentEntrypoint.sh
  scripts/docker/entrypoint.sh
  scripts/docker/pipelines.sh
  scripts/docker/productionEntrypoint.sh
  scripts/docker/runner.sh
  scripts/docker/setImageNameOutput.sh
  scripts/docker/validations.sh
  scripts/docker/vars.sh
  scripts/lintStaged.sh
  scripts/logs.sh
  scripts/validateBranchName.sh
  scripts/validateCommitMessage.sh
Due: prettier --check

refactor: 704595 rename the entrypoint filename
  scripts/docker/ciEntrypoint.sh
Due: none

refactor: 883676 update the scripts path
  scripts/docker/ciEntrypoin.sh
  scripts/docker/ciEntrypoint.sh
Due: none

release: 4.3.4 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  548f4a3f786dbc31f98ac81f3f7bb822ee8fcb7c
Due: none

chore: 043321 add the cache logics
  src/core/features/cache/cache.constants.ts
  src/core/features/cache/cache.module.ts
  src/core/features/cache/cache.service.ts
  src/core/features/cache/cacheInvalidator.service.ts
  src/core/features/cache/cacheKey.service.ts
  src/core/features/cache/cacheNamespace.enum.ts
  src/core/features/cache/cacheQueryHasher.service.ts
  src/core/features/cache/cacheQueryPipeline.service.ts
  src/core/features/cache/cacheable.decorator.ts
  src/core/features/cache/cacheable.type.ts
  src/core/features/cache/cacheableNormalizer.util.ts
  src/core/features/cache/query.type.ts
Due: eslint --fix, prettier --check

chore: 043321 add queryDispatcher
  src/core/features/cache/cache.module.ts
  src/core/features/cache/cache.service.ts
  src/core/features/cache/cacheQueryHasher.service.ts
  src/core/features/cache/cacheQueryPipeline.service.ts
  src/core/features/cache/cacheable.decorator.ts
  src/core/features/cache/cacheable.type.ts
  src/core/features/cache/cacheableNormalizer.util.ts
  src/core/features/cache/query.type.ts
  src/core/features/queryDispatcher/query.dispatcher.ts
  src/core/features/queryDispatcher/query.pipeline.ts
  src/core/features/queryDispatcher/queryDispatcher.module.ts
  src/core/features/queryDispatcher/queryPipeline.interface.ts
Due: eslint --fix, prettier --check

chore: 043321 add Tquery
  src/infrastructure/cqrs/query.type.ts
Due: eslint --fix, prettier --check

chore: 043321 connect cache to queryDispatcher module
  src/core/features/cache/cache.module.ts
  src/core/features/cache/cacheQueryPipeline.service.ts
  src/core/features/cache/cacheable.type.ts
  src/core/features/queryDispatcher/query.pipeline.ts
  src/core/features/queryDispatcher/queryDispatcher.module.ts
Due: eslint --fix, prettier --check

chore: 043321 export CacheInvalidatorService
  src/core/features/cache/cache.module.ts
Due: eslint --fix, prettier --check

chore: 043321 convert to array function
  src/core/features/cache/cacheable.type.ts
Due: eslint --fix, prettier --check

chore: 043321 add the index of findList
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

chore: 043321 add the indexes of recevier
  src/modules/receiver/infrastructure/schemas/receiver.schema.ts
Due: eslint --fix, prettier --check

chore: 043321 add the indexes of location
  src/modules/location/infrastructure/schemas/location.schema.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
