Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 009932 do not use nullable for purchasedAt
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/infrastructure/schemas/bill.schema.ts
  src/modules/bill/interface/dtos/bill.response.dto.ts
  src/modules/bill/interface/dtos/createBill.request.dto.ts
  src/modules/bill/interface/dtos/updateBill.request.dto.ts
Due: eslint --fix, prettier --check

chore: 009932 use the default values inside dtos
  src/modules/bill/applications/queries/findBillListByUserId/findBillListByUserId.query.ts
  src/modules/bill/interface/dtos/findBillList.request.dto.ts
  src/modules/consumer/applications/queries/findConsumerListByUserId/findConsumerListByUserId.query.ts
  src/modules/consumer/interfaces/dtos/findConsumerList.request.dto.ts
  src/modules/location/applications/queries/findLocationListByUserId/findLocationListByUserId.query.ts
  src/modules/location/interfaces/dtos/findLocationList.request.dto.ts
  src/modules/receiver/applications/queries/findReceiverListByUserId/findReceiverListByUserId.query.ts
  src/modules/receiver/interfaces/dtos/findReceiverList.request.dto.ts
  src/modules/search/applications/services/search.service.ts
  src/modules/search/interfaces/dtos/search.request.dto.ts
  src/modules/user/applications/queries/findUserList/findUserList.query.ts
  src/modules/user/interfaces/dtos/findUserList.request.dto.ts
Due: eslint --fix, prettier --check

release: 4.2.4 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  4ec47ade189953ee2bc034145eefc78dfc3d7a20
Due: none

refactor: 780253 splite the relation interfaces into the related folder
  src/core/interfaces/relations/relationAssemblerService.interface.ts
  src/core/interfaces/relations/relationLoaderService.interface.ts
  src/core/interfaces/relations/relationSynchronizationService.interface.ts
  src/modules/bill/applications/services/relations/billAssembler.service.ts
  src/modules/bill/applications/services/relations/billConsumerTargetsRelationLoader.service.ts
  src/modules/bill/applications/services/relations/billsAssembler.service.ts
  src/modules/bill/applications/services/relations/billsConsumersRelationLoader.service.ts
  src/modules/bill/applications/services/relations/consumersRelationLoader.service.ts
  src/modules/bill/applications/services/relations/locationRelationLoader.service.ts
  src/modules/bill/applications/services/relations/locationsRelationLoader.service.ts
  src/modules/bill/applications/services/relations/receiverRelationLoader.service.ts
  src/modules/bill/applications/services/relations/receiversRelationLoader.service.ts
  src/modules/bill/applications/services/synchronizations/createBillsConsumersSynchronization.service.ts
  src/modules/bill/applications/services/synchronizations/deleteBillsConsumersSynchronization.service.ts
Due: eslint --fix, prettier --check

refactor: 780253 move classConstructor to the types
  src/core/serializers/serializer.interceptor.ts
  src/core/serializers/serializerInterceptor.decorator.ts
  src/core/types/classConstructor.type.ts
Due: eslint --fix, prettier --check

refactor: 780253 move constatnts to core
  src/core/core.constants.ts
  src/main.ts
  src/modules/bill/interface/dtos/findBillList.request.dto.ts
  src/modules/bill/interface/dtos/mostUsed.request.dto.ts
  src/modules/consumer/interfaces/dtos/findConsumerList.request.dto.ts
  src/modules/location/interfaces/dtos/findLocationList.request.dto.ts
  src/modules/receiver/interfaces/dtos/findReceiverList.request.dto.ts
  src/modules/search/interfaces/dtos/search.request.dto.ts
  src/modules/user/interfaces/dtos/findUserList.request.dto.ts
Due: eslint --fix, prettier --check

refactor: 780253 rename currentuser tpye
  src/core/authentication/accessToken.service.ts
  src/core/authentication/currentUser.decorator.ts
  src/core/authentication/currentUser.type.ts
  src/core/authentication/googleAuth.strategy.ts
  src/core/authentication/jwtAuth.strategy.ts
  src/core/types/request.interface.ts
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/googleLogin.service.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/search/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

refactor: 780253 rename the types
  src/core/message/messageBatch.interface.ts
  src/core/message/messageBatch.type.ts
  src/core/message/messageHandler.interface.ts
  src/core/message/messageHeader.type.ts
  src/core/message/messagePayload.type.ts
  src/core/message/messageProcessor.interface.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
Due: eslint --fix, prettier --check

refactor: 780253 rename the httpResponse type
  src/core/responses/http/httpResponse.entity.ts
  src/core/responses/http/httpResponse.type.ts
Due: eslint --fix, prettier --check

refactor: 780253 move all the interfaces of authetication inside types folder
  src/core/authentication/accessToken.service.ts
  src/core/authentication/accessTokenPayload.type.ts
  src/core/authentication/jwtAuth.strategy.ts
  src/modules/authentication/applications/services/localResetPassword.service.ts
  src/modules/authentication/applications/services/localVerifyVerification.service.ts
  src/modules/authentication/applications/services/passwordToken.service.ts
  src/modules/authentication/applications/services/verificationToken.service.ts
  src/modules/authentication/domain/types/newPasswordPayload.type.ts
  src/modules/authentication/domain/types/verificationPayload.type.ts
Due: eslint --fix, prettier --check

refactor: 780253 move out all types to the related folder
  src/modules/bill/applications/queries/findMostUsedConsumers/findMostUsedConsumers.handler.ts
  src/modules/bill/applications/queries/findMostUsedLocations/findMostUsedLocations.handler.ts
  src/modules/bill/applications/queries/findMostUsedReceivers/findMostUsedReceivers.handler.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/findBillByUserIdAndIdOrThrow.service.ts
  src/modules/bill/applications/services/findBillListByUserId.service.ts
  src/modules/bill/applications/services/relations/billAssembler.service.ts
  src/modules/bill/applications/services/relations/billsAssembler.service.ts
  src/modules/bill/applications/services/relations/mostUsedConsumers.service.ts
  src/modules/bill/applications/services/relations/mostUsedLocations.service.ts
  src/modules/bill/applications/services/relations/mostUsedReceivers.service.ts
  src/modules/bill/applications/services/search/billSearchAggregate.service.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/domain/types/bill.type.ts
  src/modules/bill/domain/types/mostUsed.type.ts
  src/modules/bill/domain/types/mostUsedConsumer.type.ts
  src/modules/bill/domain/types/mostUsedLocation.type.ts
  src/modules/bill/domain/types/mostUsedReceiver.type.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/search/domain/interface/search.interface.ts
Due: eslint --fix, prettier --check

refactor: 780253 move out the type to the related folder
  src/modules/bill/applications/services/relations/billConsumerTargetsRelationLoader.service.ts
  src/modules/consumer/applications/queries/findManyBillConsumerTargetsByRefIds/findManyBillConsumerTargetsByRefIds.handler.ts
  src/modules/consumer/domain/interfaces/billConsumerRepository.interface.ts
  src/modules/consumer/domain/types/billConsumer.type.ts
  src/modules/consumer/infrastructure/repositories/billConsumer.repository.ts
Due: eslint --fix, prettier --check

refactor: 780253 move out the type to the related folder
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/applications/services/health.service.ts
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/domain/interfaces/healthIndicator.interface.ts
  src/modules/health/domain/types/healthCheckResult.type.ts
  src/modules/health/domain/types/healthEntity.type.ts
  src/modules/health/domain/types/healthIndicatorResult.type.ts
  src/modules/health/domain/types/healthIndicatorStatus.type.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

refactor: 780253 move out the outbox types to the related folder
  src/core/message/messageHandler.interface.ts
  src/core/message/messageHeader.type.ts
  src/core/message/messageRegistry.service.ts
  src/infrastructure/elasticsearch/elasticsearchIndex.interface.ts
  src/infrastructure/elasticsearch/elasticsearchQuery.interface.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
  src/modules/bill/applications/messages/createBill/createBillMessage.handler.ts
  src/modules/bill/applications/messages/deleteBill/deleteBillMessage.handler.ts
  src/modules/bill/applications/messages/updateBill/updateBillMessage.handler.ts
  src/modules/bill/infrastructure/elasticsearch/billElasticsearch.index.ts
  src/modules/bill/infrastructure/elasticsearch/billElasticsearch.query.ts
  src/modules/consumer/applications/messages/createConsumer/createConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/deleteConsumer/deleteConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/updateConsumer/updateConsumerMessage.handler.ts
  src/modules/consumer/infrastructure/elasticsearch/consumerElasticsearch.index.ts
  src/modules/consumer/infrastructure/elasticsearch/consumerElasticsearch.query.ts
  src/modules/location/applications/messages/createLocation/createLocationMessage.handler.ts
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessage.handler.ts
  src/modules/location/applications/messages/updateLocation/updateLocationMessage.handler.ts
  src/modules/location/infrastructure/elasticsearch/locationElasticsearch.index.ts
  src/modules/location/infrastructure/elasticsearch/locationElasticsearch.query.ts
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
  src/modules/outbox/applications/services/outboxEventPublisher.service.ts
  src/modules/outbox/domain/domain.constants.ts
  src/modules/outbox/domain/interfaces/outboxEventRoute.interface.ts
  src/modules/outbox/domain/types/outboxEventAggregateType.type.ts
  src/modules/outbox/domain/types/outboxEventPayload.type.ts
  src/modules/outbox/domain/types/outboxEventRoute.type.ts
  src/modules/outbox/domain/types/outboxEventType.type.ts
  src/modules/outbox/domain/utils/createOutboxRoute.util.ts
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessage.handler.ts
  src/modules/receiver/infrastructure/elasticsearch/receiverElasticsearch.index.ts
  src/modules/receiver/infrastructure/elasticsearch/receiverElasticsearch.query.ts
Due: eslint --fix, prettier --check

refactor: 780253 move out the related types of search
  src/modules/search/applications/services/search.service.ts
  src/modules/search/applications/services/searchAggregateOrchestrator.service.ts
  src/modules/search/applications/services/searchOrchestrator.service.ts
  src/modules/search/domain/types/search.type.ts
  src/modules/search/domain/types/searchOrchestrator.type.ts
  src/modules/search/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

fix: 780253 update the path of type
  src/modules/bill/applications/messages/createBill/createBillMessageElasticsearch.processor.ts
  src/modules/bill/applications/messages/deleteBill/deleteBillMessageElasticsearch.processor.ts
  src/modules/bill/applications/messages/updateBill/updateBillMessageElasticsearch.processor.ts
  src/modules/consumer/applications/messages/createConsumer/createConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/applications/messages/deleteConsumer/deleteConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/applications/messages/updateConsumer/updateConsumerMessageElasticsearch.processor.ts
  src/modules/location/applications/messages/createLocation/createLocationMessageElasticsearch.processor.ts
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessageElasticsearch.processor.ts
  src/modules/location/applications/messages/updateLocation/updateLocationMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessageElasticsearch.processor.ts
Due: eslint --fix, prettier --check

release: 4.2.5 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  57e0ff7a837f98f240aad34264505bfb069ed6bf
Due: none

chore: 449530 add the api of the bills period
  src/modules/bill/applications/queries/findBillsPeriodByPurchasedAt/findBillsPeriodByPurchasedAt.handler.ts
  src/modules/bill/applications/queries/findBillsPeriodByPurchasedAt/findBillsPeriodByPurchasedAt.query.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/domain/types/billPeriod.type.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/findBillsPeriod.response.dto.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
