Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 440883 add the find total of consumers api
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the consumer list
  src/modules/consumer/applications/queries/findTotalConsumersByUserId/findTotalConsumersByUserId.handler.ts
  src/modules/consumer/applications/queries/findTotalConsumersByUserId/findTotalConsumersByUserId.query.ts
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/applications/services/findConsumerListByUserId.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/consumer/interfaces/dtos/findConsumerList.response.dto.ts
Due: eslint --fix, prettier --check

chore: 440883 update some packages
  package.json
Due: prettier --check

chore: 440883 update the packages
  pnpm-lock.yaml
Due: prettier --check

chore: 440883 update the package
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 440883 rename add the related interfaces
  src/core/interfaces/listResult.interface.ts
  src/core/interfaces/repositories/findTotalByUserIdRepository.interface.ts
Due: eslint --fix, prettier --check

chore: 440883 add the find total of users api
  src/modules/user/applications/services/user.service.ts
  src/modules/user/interfaces/controllers/controllers.constants.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 update the logic of healthcheck
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/applications/services/health.service.ts
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/domain/interfaces/healthCheckResult.interface.ts
  src/modules/health/domain/interfaces/healthEntity.interface.ts
  src/modules/health/domain/interfaces/healthIndicator.interface.ts
  src/modules/health/domain/interfaces/healthIndicatorResult.interface.ts
  src/modules/health/domain/interfaces/healthIndicatorStatus.interface.ts
  src/modules/health/health.module.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 update some packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 440883 add the total api to the location list
  src/modules/location/applications/queries/findTotalLocationsByUserId/findTotalLocationsByUserId.handler.ts
  src/modules/location/applications/queries/findTotalLocationsByUserId/findTotalLocationsByUserId.query.ts
  src/modules/location/applications/services/findLocationListByUserId.service.ts
  src/modules/location/applications/services/location.service.ts
  src/modules/location/domain/interfaces/locationRepository.interface.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/dtos/findLocationList.response.dto.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 440883 add the find total of bills api
  src/core/dtos/total.response.dto.ts
  src/core/interfaces/total.interface.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 rename IList to IListQuery
  src/core/interfaces/listQuery.interface.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/location/domain/interfaces/locationRepository.interface.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the receiver list
  src/modules/receiver/applications/queries/findTotalReceiversByUserId/findTotalReceiversByUserId.handler.ts
  src/modules/receiver/applications/queries/findTotalReceiversByUserId/findTotalReceiversByUserId.query.ts
  src/modules/receiver/applications/services/findReceiverListByUserId.service.ts
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/dtos/findReceiverList.response.dto.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the bill list
  src/infrastructure/database/drizzle/transformers/toCount.transformer.ts
  src/modules/bill/applications/queries/findTotalBillsByUserId/findTotalBillsByUserId.handler.ts
  src/modules/bill/applications/queries/findTotalBillsByUserId/findTotalBillsByUserId.query.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/findBillListByUserId.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/findBillList.response.dto.ts
Due: eslint --fix, prettier --check

chore: 440883 remove the unused package
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 440883 add the find total of receivers api
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/interfaces/controllers/controllers.constants.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the user list
  src/core/interfaces/repositories/findTotalRepository.interface.ts
  src/modules/user/applications/queries/findTotalUsers/findTotalUsers.handler.ts
  src/modules/user/applications/queries/findTotalUsers/findTotalUsers.query.ts
  src/modules/user/applications/services/findUserList.service.ts
  src/modules/user/applications/services/user.service.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/dtos/findUserList.response.dto.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 013723 update the status
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/domain/interfaces/healthCheckResult.interface.ts
Due: eslint --fix, prettier --check

release: 4.2.2 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  43bdce5c0c993cd64087f7687616fafd58126aee
Due: none

chore: 505929 add the repos of the most used statistics
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/infrastructure/schemas/bill.schema.ts
  src/modules/consumer/infrastructure/schemas/billConsumer.schema.ts
Due: eslint --fix, prettier --check

chore: 505929 add FindMostUsedLocations query
  src/modules/bill/applications/queries/findMostUsedLocations/findMostUsedLocations.handler.ts
  src/modules/bill/applications/queries/findMostUsedLocations/findMostUsedLocations.query.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/domain/interfaces/mostUsed.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
Due: eslint --fix, prettier --check

chore: 505929 add FindMostUsedReceivers query
  src/modules/bill/applications/queries/findMostUsedReceivers/findMostUsedReceivers.handler.ts
  src/modules/bill/applications/queries/findMostUsedReceivers/findMostUsedReceivers.query.ts
  src/modules/bill/bill.module.ts
Due: eslint --fix, prettier --check

chore: 505929 add FindMostUsedConsumers query
  src/modules/bill/applications/queries/findMostUsedConsumers/findMostUsedConsumers.handler.ts
  src/modules/bill/applications/queries/findMostUsedConsumers/findMostUsedConsumers.query.ts
  src/modules/bill/bill.module.ts
Due: eslint --fix, prettier --check

chore: 505929 add the most used apis of a bill
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/mostUsed.request.dto.ts
  src/modules/bill/interface/dtos/mostUsed.response.dto.ts
Due: eslint --fix, prettier --check

chore: 505929 pass just related ids to load the relations
  src/modules/bill/applications/services/relations/billAssembler.service.ts
  src/modules/bill/applications/services/relations/billsAssembler.service.ts
  src/modules/bill/applications/services/relations/consumersRelationLoader.service.ts
  src/modules/bill/applications/services/relations/locationsRelationLoader.service.ts
  src/modules/bill/applications/services/relations/receiversRelationLoader.service.ts
Due: eslint --fix, prettier --check

chore: 505929 add the services related to the most used statistics of a bill
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/relations/billAssembler.service.ts
  src/modules/bill/applications/services/relations/billConsumerTargetsRelationLoader.service.ts
  src/modules/bill/applications/services/relations/billsAssembler.service.ts
  src/modules/bill/applications/services/relations/consumersRelationLoader.service.ts
  src/modules/bill/applications/services/relations/mostUsedConsumers.service.ts
  src/modules/bill/applications/services/relations/mostUsedLocations.service.ts
  src/modules/bill/applications/services/relations/mostUsedReceivers.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/mostUsedConsumer.interface.ts
  src/modules/bill/domain/interfaces/mostUsedLocation.interface.ts
  src/modules/bill/domain/interfaces/mostUsedReceiver.interface.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/mostUsed.response.dto.ts
  src/modules/bill/interface/dtos/mostUsedConsumer.response.dto.ts
  src/modules/bill/interface/dtos/mostUsedLocation.response.dto.ts
  src/modules/bill/interface/dtos/mostUsedReceiver.response.dto.ts
Due: eslint --fix, prettier --check

release: 4.2.3 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  14e100395232681e7e7824f9039aeb6c1f8a67ef
Due: none

chore: 009932 use the default values inside dtos
  src/modules/bill/applications/queries/findBillListByUserId/findBillListByUserId.query.ts
  src/modules/bill/interface/dtos/findBillList.request.dto.ts
  src/modules/consumer/applications/queries/findConsumerListByUserId/findConsumerListByUserId.query.ts
  src/modules/consumer/interfaces/dtos/findConsumerList.request.dto.ts
  src/modules/location/applications/queries/findLocationListByUserId/findLocationListByUserId.query.ts
  src/modules/location/interfaces/dtos/findLocationList.request.dto.ts
  src/modules/receiver/applications/queries/findReceiverListByUserId/findReceiverListByUserId.query.ts
  src/modules/receiver/interfaces/dtos/findReceiverList.request.dto.ts
  src/modules/search/applications/services/search.service.ts
  src/modules/search/interfaces/dtos/search.request.dto.ts
  src/modules/user/applications/queries/findUserList/findUserList.query.ts
  src/modules/user/interfaces/dtos/findUserList.request.dto.ts
Due: eslint --fix, prettier --check
