Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 875092 rename the google apis
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 add the google oauth envs
  .env
  .env.production
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 875092 add the verifiedAt condition to the google auth
  src/core/strategies/googleAuth.strategy.ts
Due: eslint --fix, prettier --check

chore: 875092 use CreateUserCommand
  src/modules/authentication/applications/services/signup.service.ts
Due: eslint --fix, prettier --check

chore: 875092 add TSelectUser
  src/modules/user/domain/entities/user.entity.ts
Due: eslint --fix, prettier --check

chore: 875092 add the explicit exceptions
  src/core/strategies/jwtAuth.strategy.ts
Due: eslint --fix, prettier --check

chore: 875092 add the Throttle
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 add IHealthEntity
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/domain/interfaces/healthEntity.interface.ts
Due: eslint --fix, prettier --check

chore: 875092 add the google account related propeties
  src/modules/authentication/applications/services/accessToken.service.ts
  src/modules/user/domain/entities/user.entity.ts
  src/modules/user/domain/enums/authProvider.enum.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

chore: 875092 add more properties
  src/core/strategies/googleAuth.strategy.ts
Due: eslint --fix, prettier --check

release: 1.3.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  5ae026af3adea6939b7f80e16b8e353d87f85f54
Due: none

chore: 875092 remove the user data from the signup api
  src/modules/authentication/applications/services/signup.service.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/signup.response.dto.ts
Due: eslint --fix, prettier --check

release: 1.3.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  45d385879173d6e5364a1f53940f4fb595aab063
Due: none

chore: 875092 remove the google service
  src/modules/authentication/applications/services/google.service.ts
  src/modules/authentication/applications/services/login.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 reorgenize the authentication services
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/googleLogin.service.ts
  src/modules/authentication/applications/services/googleProvider.service.ts
  src/modules/authentication/applications/services/localLogin.service.ts
  src/modules/authentication/applications/services/localPassword.service.ts
  src/modules/authentication/applications/services/localProvider.service.ts
  src/modules/authentication/applications/services/localSignup.service.ts
  src/modules/authentication/applications/services/localVerification.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/localForgotPassword.request.dto.ts
  src/modules/authentication/interface/dtos/localLogin.request.dto.ts
  src/modules/authentication/interface/dtos/localResetPassword.request.dto.ts
  src/modules/authentication/interface/dtos/localSendVerification.request.dto.ts
  src/modules/authentication/interface/dtos/localSignup.request.dto.ts
  src/modules/authentication/interface/dtos/localVerifyVerification.request.dto.ts
Due: eslint --fix, prettier --check

chore: 875092 rename the exception
  src/core/exceptions/processFailedUnauthorized.exception.ts
  src/modules/authentication/applications/services/localLogin.service.ts
Due: eslint --fix, prettier --check

feature: 049999 add the bill schema
  src/modules/bill/infrastructure/schema/bill.schema.ts
Due: eslint --fix, prettier --check

feature: 049999 add the bills and users relations
  src/modules/bill/infrastructure/schema/bill.schema.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

feature: 049999 add the consumers schema
  src/modules/consumers/infrastructure/schema/consumer.schema.ts
Due: eslint --fix, prettier --check

feature: 049999 add the usersConsumers shema and the related relations
  src/modules/bill/infrastructure/schema/bill.schema.ts
  src/modules/consumers/infrastructure/schema/consumer.schema.ts
  src/modules/consumers/infrastructure/schema/usersConsumers.schema.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

chore: 049999 rename schema to schemas
  src/modules/bill/infrastructure/schemas/bill.schema.ts
  src/modules/consumers/infrastructure/schemas/consumer.schema.ts
  src/modules/consumers/infrastructure/schemas/usersConsumers.schema.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

feature: 049999 add the receiver schema and relations
  src/modules/bill/infrastructure/schemas/bill.schema.ts
  src/modules/receiver/infrastructure/schemas/receiver.schema.ts
  src/modules/receiver/infrastructure/schemas/usersReceivers.schema.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

feature: 049999 add location schema and relations
  src/modules/bill/infrastructure/schemas/bill.schema.ts
  src/modules/location/infrastructure/schemas/location.schema.ts
  src/modules/location/infrastructure/schemas/usersLocations.schema.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

fix: 049999 use the uqniue constraint inside pgTable
  src/modules/consumers/infrastructure/schemas/usersConsumers.schema.ts
  src/modules/location/infrastructure/schemas/usersLocations.schema.ts
  src/modules/receiver/infrastructure/schemas/usersReceivers.schema.ts
Due: eslint --fix, prettier --check

chore: 335464 add the schedual package
  package.json
  pnpm-lock.yaml
Due: prettier --check

feature: 335464 add the delete all not verified users api
  src/infrastructure/infrastructure.module.ts
  src/infrastructure/schedule/schedule.module.ts
  src/modules/user/applications/commands/deleteAllNotVerifiedUsers/deleteAllNotVerifiedUsers.command.ts
  src/modules/user/applications/commands/deleteAllNotVerifiedUsers/deleteNotVerifiedUsers.handler.ts
  src/modules/user/applications/services/deleteAllNotVerifiedUsers.service.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
