Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 638860 move all related search services to the search folder
  src/modules/consumer/applications/services/search/consumerSearch.service.ts
  src/modules/consumer/applications/services/search/consumerSearchAggregate.service.ts
  src/modules/consumer/applications/services/search/consumerSearchIndexRegister.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/search/applications/services/searchAggregateOrchestrator.service.ts
  src/modules/search/applications/services/searchOrchestrator.service.ts
Due: eslint --fix, prettier --check

refactor: 638860 remove unused files
  .dockerignore
Due: none

refactor: 638860 use Iservice
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/applications/services/createConsumer.service.ts
  src/modules/consumer/applications/services/deleteConsumer.service.ts
  src/modules/consumer/applications/services/updateConsumer.service.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

refactor: 638860 use a better exception
  src/modules/bill/applications/services/validators/billExistenceValidator.service.ts
  src/modules/consumer/applications/services/validators/consumerExistenceValidator.service.ts
  src/modules/consumer/applications/services/validators/consumerUniqueNameValidator.service.ts
  src/modules/consumer/applications/services/validators/consumersExistenceValidator.service.ts
  src/modules/location/applications/services/validators/locationExistenceValidator.service.ts
  src/modules/location/applications/services/validators/locationUniqueNameValidator.service.ts
  src/modules/receiver/applications/services/validators/receiverExistenceValidator.service.ts
  src/modules/receiver/applications/services/validators/receiverUniqueNameValidator.service.ts
Due: eslint --fix, prettier --check

refactor: 638860 remove unused files
  eslint.config.mjs
Due: none

chore: 638860 add OutboxEventPublisherService
  src/modules/outbox/applications/services/outboxEventPublisher.service.ts
  src/modules/outbox/domain/interfaces/outboxEventPublisher.interface.ts
  src/modules/outbox/outbox.module.ts
Due: eslint --fix, prettier --check

chore: 638860 use assembler services properly
  src/modules/bill/applications/services/findBillByUserIdAndIdOrThrow.service.ts
  src/modules/bill/applications/services/findBillListByUserId.service.ts
  src/modules/bill/applications/services/findManyBillsByUserIdAndIds.service.ts
Due: eslint --fix, prettier --check

chore: 638860 move all related search services to the search folder
  src/modules/consumer/applications/services/search/consumerSearch.service.ts
  src/modules/location/applications/services/search/locationSearch.service.ts
  src/modules/receiver/applications/services/search/receiverSearch.service.ts
  src/modules/receiver/applications/services/search/receiverSearchAggregate.service.ts
  src/modules/receiver/applications/services/search/receiverSearchIndexRegister.service.ts
  src/modules/receiver/receiver.module.ts
  src/modules/search/applications/services/searchAggregateOrchestrator.service.ts
  src/modules/search/applications/services/searchOrchestrator.service.ts
Due: eslint --fix, prettier --check

refactor: 638860 remove unnecessary service
  src/modules/bill/applications/services/findManyBillsByUserIdAndIds.service.ts
  src/modules/bill/applications/services/search/billSearchAggregate.service.ts
  src/modules/bill/bill.module.ts
Due: eslint --fix, prettier --check

chore: 638860 rename the relation services
  src/modules/bill/applications/services/relations/billAssembler.service.ts
  src/modules/bill/applications/services/relations/billsAssembler.service.ts
  src/modules/bill/applications/services/relations/consumersRelationLoader.service.ts
  src/modules/bill/applications/services/relations/locationRelationLoader.service.ts
  src/modules/bill/applications/services/relations/locationsRelationLoader.service.ts
  src/modules/bill/applications/services/relations/receiverRelationLoader.service.ts
  src/modules/bill/applications/services/relations/receiversRelationLoader.service.ts
  src/modules/bill/bill.module.ts
Due: eslint --fix, prettier --check

chore: 638860 export the services
  src/modules/bill/bill.module.ts
  src/modules/consumer/consumer.module.ts
  src/modules/location/location.module.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

refactor: 638860 use Iservice
  src/modules/search/applications/services/search.service.ts
  src/modules/search/applications/services/searchAggregateOrchestrator.service.ts
  src/modules/search/applications/services/searchOrchestrator.service.ts
  src/modules/search/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

refactor: 638860 revert the comments
  src/core/interceptors/transformResponse.interceptor.ts
  src/core/serializers/serializer.interceptor.ts
Due: eslint --fix, prettier --check

release: 4.2.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  8c7d41fbee859855bf8e185b6a305a1c6ec03834
Due: none

chore: 440883 rename IList to IListQuery
  src/core/interfaces/listQuery.interface.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/location/domain/interfaces/locationRepository.interface.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 440883 rename add the related interfaces
  src/core/interfaces/listResult.interface.ts
  src/core/interfaces/repositories/findTotalByUserIdRepository.interface.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the bill list
  src/infrastructure/database/drizzle/transformers/toCount.transformer.ts
  src/modules/bill/applications/queries/findTotalBillsByUserId/findTotalBillsByUserId.handler.ts
  src/modules/bill/applications/queries/findTotalBillsByUserId/findTotalBillsByUserId.query.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/findBillListByUserId.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/findBillList.response.dto.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the consumer list
  src/modules/consumer/applications/queries/findTotalConsumersByUserId/findTotalConsumersByUserId.handler.ts
  src/modules/consumer/applications/queries/findTotalConsumersByUserId/findTotalConsumersByUserId.query.ts
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/applications/services/findConsumerListByUserId.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/consumer/interfaces/dtos/findConsumerList.response.dto.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the location list
  src/modules/location/applications/queries/findTotalLocationsByUserId/findTotalLocationsByUserId.handler.ts
  src/modules/location/applications/queries/findTotalLocationsByUserId/findTotalLocationsByUserId.query.ts
  src/modules/location/applications/services/findLocationListByUserId.service.ts
  src/modules/location/applications/services/location.service.ts
  src/modules/location/domain/interfaces/locationRepository.interface.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/dtos/findLocationList.response.dto.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the receiver list
  src/modules/receiver/applications/queries/findTotalReceiversByUserId/findTotalReceiversByUserId.handler.ts
  src/modules/receiver/applications/queries/findTotalReceiversByUserId/findTotalReceiversByUserId.query.ts
  src/modules/receiver/applications/services/findReceiverListByUserId.service.ts
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/dtos/findReceiverList.response.dto.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 440883 add the total api to the user list
  src/core/interfaces/repositories/findTotalRepository.interface.ts
  src/modules/user/applications/queries/findTotalUsers/findTotalUsers.handler.ts
  src/modules/user/applications/queries/findTotalUsers/findTotalUsers.query.ts
  src/modules/user/applications/services/findUserList.service.ts
  src/modules/user/applications/services/user.service.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/dtos/findUserList.response.dto.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 440883 update some packages
  package.json
Due: prettier --check

chore: 440883 add the find total of bills api
  src/core/dtos/total.response.dto.ts
  src/core/interfaces/total.interface.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 update the packages
  pnpm-lock.yaml
Due: prettier --check

chore: 440883 add the find total of consumers api
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 update some packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 440883 add the find total of locations api
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/location/applications/services/location.service.ts
  src/modules/location/interfaces/controllers/controllers.constants.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 add the find total of receivers api
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/interfaces/controllers/controllers.constants.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 add the find total of users api
  src/modules/user/applications/services/user.service.ts
  src/modules/user/interfaces/controllers/controllers.constants.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 update the logic of healthcheck
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/applications/services/health.service.ts
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/domain/interfaces/healthCheckResult.interface.ts
  src/modules/health/domain/interfaces/healthEntity.interface.ts
  src/modules/health/domain/interfaces/healthIndicator.interface.ts
  src/modules/health/domain/interfaces/healthIndicatorResult.interface.ts
  src/modules/health/domain/interfaces/healthIndicatorStatus.interface.ts
  src/modules/health/health.module.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 440883 remove the unused package
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 440883 update the package
  package.json
  pnpm-lock.yaml
Due: prettier --check
