Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

Notes added by 'git notes add'
  9889cf89cadca37cea1bbc72b495f75be3a44dca
Due: none

breaking: 700990 change the data relationships
  src/modules/consumer/infrastructure/schemas/billConsumer.schema.ts
  src/modules/consumer/infrastructure/schemas/consumer.schema.ts
  src/modules/location/infrastructure/schemas/location.schema.ts
  src/modules/receiver/infrastructure/schemas/receiver.schema.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

breaking: 700990 add the related cqrs, service and apis of receiver
  src/core/interfaces/repositories/deleteByUserIdAndIdRepository.interface.ts
  src/core/interfaces/repositories/findByUserIdAndIdOrNullRepository.interface.ts
  src/core/interfaces/repositories/findByUserIdAndNameOrNullRepository.interface.ts
  src/core/interfaces/repositories/findManyByUserIdAndIdsRepository.interface.ts
Due: eslint --fix, prettier --check

breaking: 700990 add the related cqrs, service and apis of consumer
  src/modules/consumer/consumer.module.ts
Due: eslint --fix, prettier --check

breaking: 700990 add the related cqrs, service and apis of bill
  src/core/interfaces/repositories/IsExistsByUserIdAndIdsRepository.interface.ts
  src/core/interfaces/repositories/findByNameOrNullRepository.interface.ts
  src/core/interfaces/repositories/findByRefIdAndTargetIdOrNullRepository.interface.ts
  src/core/interfaces/repositories/findManyByIdsRepository.interface.ts
  src/core/interfaces/repositories/findTargetByRefIdAndTargetIdOrThrowRepository.interface.ts
  src/core/interfaces/repositories/findTargetListByRefIdRepository.interface.ts
  src/core/interfaces/repositories/isExistsByRefIdAndTargetIdRepository.interface.ts
  src/core/interfaces/repositories/isExistsByRefIdAndTargetIdsRepository.interface.ts
  src/modules/bill/applications/queries/isBillExistsByUserIdAndId/isBillExistsByUserIdAndId.handler.ts
  src/modules/bill/applications/queries/isBillExistsByUserIdAndId/isBillExistsByUserIdAndId.query.ts
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/applications/services/findBillByUserIdAndIdOrThrow.service.ts
  src/modules/bill/applications/services/findBillListByUserId.service.ts
  src/modules/bill/applications/services/updateBill.service.ts
  src/modules/consumer/applications/queries/isConsumerExistsByUserIdAndId/isConsumerExistsByUserIdAndId.query.ts
  src/modules/consumer/applications/queries/isConsumerExistsByUserIdAndIds/isConsumerExistsByUserIdAndIds.handler.ts
  src/modules/consumer/applications/queries/isConsumerExistsByUserIdAndIds/isConsumerExistsByUserIdAndIds.query.ts
  src/modules/consumer/applications/services/deleteConsumer.service.ts
  src/modules/consumer/applications/services/updateConsumer.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
Due: eslint --fix, prettier --check

breaking: 700990 add the related query and fix the type of repo
  src/modules/consumer/applications/queries/isConsumerExistsByUserIdAndId/isConsumerExistsByUserIdAndId.handler.ts
  src/modules/consumer/applications/queries/isConsumerExistsByUserIdAndId/isConsumerExistsByUserIdAndId.query.ts
  src/modules/consumer/applications/services/deleteConsumer.service.ts
  src/modules/consumer/applications/services/updateConsumer.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/location/applications/commands/createLocation/createLocation.handler.ts
  src/modules/location/applications/commands/deleteLocation/deleteLocation.handler.ts
  src/modules/location/applications/commands/updateLocation/updateLocation.handler.ts
  src/modules/location/applications/queries/findLocationByUserIdAndIdOrNull/findLocationByUserIdAndIdOrNull.handler.ts
  src/modules/location/applications/queries/findLocationByUserIdAndIdOrThrow/findLocationByUserIdAndIdOrThrow.handler.ts
  src/modules/location/applications/queries/findLocationByUserIdAndNameOrNull/findLocationByUserIdAndNameOrNull.handler.ts
  src/modules/location/applications/queries/findLocationListByUserId/findLocationListByUserId.handler.ts
  src/modules/location/applications/queries/findManyLocationsByUserIdAndIds/findManyLocationsByUserIdAndIds.handler.ts
  src/modules/location/applications/queries/isLocationExistsByUserIdAndId/isLocationExistsByUserIdAndId.handler.ts
Due: eslint --fix, prettier --check

chore: 700990 update some names
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 700990 check if bills consumers created successfully
  src/modules/bill/applications/services/createBill.service.ts
Due: eslint --fix, prettier --check

chore: 700990 update the names
  src/modules/bill/applications/services/updateBill.service.ts
Due: eslint --fix, prettier --check

chore: 700990 add orderby
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
Due: eslint --fix, prettier --check

chore: 700990 update the error messages
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/applications/services/updateBill.service.ts
Due: eslint --fix, prettier --check

feature: 700990 add the bill deletion
  src/modules/bill/applications/commands/deleteBill/deleteBill.command.ts
  src/modules/bill/applications/commands/deleteBill/deleteBill.handler.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/deleteBill.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/deleteBill.request.dto.ts
Due: eslint --fix, prettier --check

feature: 700990 add the delete user api
  src/core/interfaces/repositories/IsExistsByIdRepository.interface.ts
  src/core/interfaces/repositories/deleteByIdRepository.interface.ts
  src/modules/user/applications/commands/deleteUser/deleteUser.command.ts
  src/modules/user/applications/commands/deleteUser/deleteUser.handler.ts
  src/modules/user/applications/queries/isUserExistsById/isUserExistsById.handler.ts
  src/modules/user/applications/queries/isUserExistsById/isUserExistsById.query.ts
  src/modules/user/applications/services/deleteUser.service.ts
  src/modules/user/applications/services/user.service.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/interfaces/controllers/controllers.constants.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 700990 remove the text
  src/core/guards/owner.guard.ts
Due: eslint --fix, prettier --check

feature: 700990 add update user api
  src/modules/user/applications/services/updateUser.service.ts
  src/modules/user/applications/services/user.service.ts
  src/modules/user/interfaces/controllers/controllers.constants.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/dtos/updateUser.request.dto.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

release: 4.0.0 [skip ci] (major)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  65466efdfb099a82d78e6957a8fbf7cd947e13d0
Due: none

chore: 951809 remove the backup service
  docker-compose.ci.yml
  docker-compose.production.yml
Due: prettier --check

chore: 951809 add the backup configuration
  .dockerignore
  .gitignore
  Dockerfile.postgresql
  backup.cron
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/database/backup.sh
  scripts/database/entrypoint.sh
Due: prettier --check

chore: 951809 remove the backup config from docker development
  docker-compose.development.yml
Due: prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
