Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 833826 add knip
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 833826 add knip
  pnpm-lock.yaml
Due: prettier --check

chore: 833826 add knip command
  package.json
Due: prettier --check

refactor: 833826 remove dead codes
  src/core/interfaces/repositories/findManyByNamesRepository.interface.ts
  src/core/interfaces/repositories/findManyByRefIdAndTargetIdsRepository.interface.ts
  src/core/interfaces/repositories/findManyByRefIdRepository.interface.ts
  src/core/interfaces/repositories/findTargetByRefIdAndTargetIdRepository.interface.ts
  src/core/interfaces/repositories/findTargetsByRefIdAndTargetIdsRepository.interface.ts
  src/infrastructure/database/database.constants.ts
  src/infrastructure/database/drizzle/drizzle.constants.ts
  src/modules/consumer/domain/abstracts/billConsumer.abstract.ts
  src/modules/receiver/interfaces/dtos/findReceiverById.request.dto.ts
Due: eslint --fix, prettier --check

feature: 833826 add the consumer creation api
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/consumer/applications/commands/createConsumer/createConsumer.command.ts
  src/modules/consumer/applications/commands/createConsumer/createConsumer.handler.ts
  src/modules/consumer/applications/commands/createManyConsumers/createManyConsumers.command.ts
  src/modules/consumer/applications/commands/createManyUsersConsumers/createManyUsersConsumers.command.ts
  src/modules/consumer/applications/commands/createUserConsumer/createUserConsumer.command.ts
  src/modules/consumer/applications/commands/createUserConsumer/createUserConsumer.handler.ts
  src/modules/consumer/applications/queries/findConsumerByNameOrNull/findConsumerByNameOrNull.handler.ts
  src/modules/consumer/applications/queries/findConsumerByNameOrNull/findConsumerByNameOrNull.query.ts
  src/modules/consumer/applications/queries/findManyConsumersByNames/findManyConsumersByNames.query.ts
  src/modules/consumer/applications/queries/findManyUsersConsumersByRefIdAndTargetIds/findManyUsersConsumersByRefIdAndTargetIds.query.ts
  src/modules/consumer/applications/queries/findUserConsumerByRefIdAndTargetIdOrNull/findUserConsumerByRefIdAndTargetIdOrNull.handler.ts
  src/modules/consumer/applications/queries/findUserConsumerByRefIdAndTargetIdOrNull/findUserConsumerByRefIdAndTargetIdOrNull.query.ts
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/applications/services/createConsumer.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/domain/interfaces/userConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/consumer/interfaces/dtos/createConsumer.request.dto.ts
Due: eslint --fix, prettier --check

refactor: 833826 move the drizzle transformer to the related file
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/infrastructure/database/drizzle/transformers/toEntities.transformer.ts
  src/infrastructure/database/drizzle/transformers/toEntityOrNull.transformer.ts
  src/infrastructure/database/drizzle/transformers/toEntityOrThrow.transformer.ts
  src/infrastructure/database/drizzle/transformers/toIsExistsByCount.transformer.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/consumer/infrastructure/repositories/billConsumer.repository.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/infrastructure/repositories/userLocation.repository.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

refactor: 833826 update the bill creation process
  src/core/interfaces/repositories/IsExistsByIdRepository.interface.ts
  src/core/interfaces/repositories/IsExistsByIdsRepository.interface.ts
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/createBill.request.dto.ts
  src/modules/consumer/applications/queries/isConsumerExistsByIds/isConsumerExistsByIds.handler.ts
  src/modules/consumer/applications/queries/isConsumerExistsByIds/isConsumerExistsByIds.query.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/location/applications/queries/isLocationExistsById/isLocationExistsById.handler.ts
  src/modules/location/applications/queries/isLocationExistsById/isLocationExistsById.query.ts
  src/modules/location/domain/interfaces/locationRepository.interface.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/location.module.ts
  src/modules/receiver/applications/queries/isReceiverExistsById/isReceiverExistsById.hander.ts
  src/modules/receiver/applications/queries/isReceiverExistsById/isReceiverExistsById.query.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

release: 3.8.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  88381df12be8a43aac1cfe55fdb60af9222d743e
Due: none

feature: 542092 add the update bill api
  src/core/interfaces/repositories/IsExistsByUserIdAndIdRepository.interface.ts
  src/core/interfaces/repositories/deleteManyByRefIdAndTargetIdsRepository.interface.ts
  src/core/interfaces/repositories/findManyByRefIdRepository.interface.ts
  src/modules/bill/applications/commands/updateBill/updateBill.command.ts
  src/modules/bill/applications/commands/updateBill/updateBill.handler.ts
  src/modules/bill/applications/queries/isBillExistsByUserIdAndId/isBillExistsByUserIdAndId.handler.ts
  src/modules/bill/applications/queries/isBillExistsByUserIdAndId/isBillExistsByUserIdAndId.query.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/updateBill.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/updateBill.request.dto.ts
  src/modules/consumer/applications/commands/deleteManyBillsConsumers/deleteManyBillsConsumers.command.ts
  src/modules/consumer/applications/commands/deleteManyBillsConsumers/deleteManyBillsConsumers.handler.ts
  src/modules/consumer/applications/queries/findManyBillsConsumersByRefId/findManyBillsConsumersByRefId.handler.ts
  src/modules/consumer/applications/queries/findManyBillsConsumersByRefId/findManyBillsConsumersByRefId.query.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/billConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/billConsumer.repository.ts
Due: eslint --fix, prettier --check

refactor: 542092 use blocks to organize the code
  src/core/authentication/googleAuth.strategy.ts
  src/core/authentication/jwtAuth.strategy.ts
  src/core/filters/global.filter.ts
  src/modules/authentication/applications/services/localForgotPassword.service.ts
  src/modules/authentication/applications/services/localLogin.service.ts
  src/modules/authentication/applications/services/localResetPassword.service.ts
  src/modules/authentication/applications/services/localSendVerification.service.ts
  src/modules/authentication/applications/services/localSignup.service.ts
  src/modules/authentication/applications/services/localVerifyVerification.service.ts
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/applications/services/findBillListByUserId.service.ts
  src/modules/consumer/applications/services/createConsumer.service.ts
  src/modules/location/applications/services/createLocation.service.ts
  src/modules/receiver/applications/services/createReceiver.service.ts
Due: eslint --fix, prettier --check

refactor: 542092 use blocks to organize the code
  eslint.config.mjs
  src/modules/bill/applications/services/updateBill.service.ts
Due: eslint --fix, prettier --check

release: 3.9.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  8222e058ae1e318c1c2654273d8a0d02c602e85e
Due: none

chore: 466239 remove the isExistsById repository
  src/modules/consumer/applications/queries/isConsumerExistsByIds/isConsumerExistsByIds.handler.ts
  src/modules/consumer/applications/queries/isConsumerExistsByIds/isConsumerExistsByIds.query.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/location/applications/queries/isLocationExistsById/isLocationExistsById.handler.ts
  src/modules/location/applications/queries/isLocationExistsById/isLocationExistsById.query.ts
  src/modules/location/domain/interfaces/locationRepository.interface.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/location.module.ts
  src/modules/receiver/applications/queries/isReceiverExistsById/isReceiverExistsById.hander.ts
  src/modules/receiver/applications/queries/isReceiverExistsById/isReceiverExistsById.query.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 466239 add isUserReceiverExistsByRefIdAndTargetId repo
  src/modules/receiver/applications/queries/isUserReceiverExistsByRefIdAndTargetId/isUserReceiverExistsByRefIdAndTargetId.handler.ts
  src/modules/receiver/applications/queries/isUserReceiverExistsByRefIdAndTargetId/isUserReceiverExistsByRefIdAndTargetId.query.ts
  src/modules/receiver/domain/interfaces/userReceiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 466239 add isUserLocationExistsByRefIdAndTargetId repo
  src/modules/location/applications/queries/isUserLocationExistsByRefIdAndTargetId/isUserLocationExistsByRefIdAndTargetId.handler.ts
  src/modules/location/applications/queries/isUserLocationExistsByRefIdAndTargetId/isUserLocationExistsByRefIdAndTargetId.query.ts
  src/modules/location/domain/interfaces/userLocationRepository.interface.ts
  src/modules/location/infrastructure/repositories/userLocation.repository.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 466239 add isUserConsumerExistsByRefIdAndTargetId repo
  src/modules/consumer/applications/queries/isUserConsumerExistsByRefIdAndTargetId/isUserConsumerExistsByRefIdAndTargetId.handler.ts
  src/modules/consumer/applications/queries/isUserConsumerExistsByRefIdAndTargetId/isUserConsumerExistsByRefIdAndTargetId.query.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/userConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
Due: eslint --fix, prettier --check

chore: 466239 add isUserConsumerExistsByRefIdAndTargetIds repo
  src/modules/consumer/applications/queries/isUserConsumerExistsByRefIdAndTargetId/isUserConsumerExistsByRefIdAndTargetId.query.ts
  src/modules/consumer/applications/queries/isUserConsumerExistsByRefIdAndTargetIds/isUserConsumerExistsByRefIdAndTargetIds.handler.ts
  src/modules/consumer/applications/queries/isUserConsumerExistsByRefIdAndTargetIds/isUserConsumerExistsByRefIdAndTargetIds.query.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/userConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
Due: eslint --fix, prettier --check

chore: 466239 use the userLocation, userReceiver and userConsumer queries
  src/core/interfaces/repositories/IsExistsByIdRepository.interface.ts
  src/core/interfaces/repositories/IsExistsByIdsRepository.interface.ts
  src/core/interfaces/repositories/isExistsByRefIdAndTargetIdRepository.interface.ts
  src/core/interfaces/repositories/isExistsByRefIdAndTargetIdsRepository.interface.ts
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/applications/services/updateBill.service.ts
Due: eslint --fix, prettier --check

fix: 466239 rename the method name
  src/core/interfaces/repositories/isExistsByRefIdAndTargetIdsRepository.interface.ts
Due: eslint --fix, prettier --check

release: 3.9.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  ec83279009e04b858d7eb2cc8dd3b82f78bbd53b
Due: none

refactor: 054250 update the respnoses message names
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/controllers/controllers.constants.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/controllers/controllers.constants.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/controllers/controllers.constants.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

refactor: 054250 rename the repo name
  src/core/interfaces/repositories/findTargetListByRefIdRepository.interface.ts
  src/core/interfaces/repositories/findTargetsByRefIdRepository.interface.ts
  src/modules/consumer/applications/queries/findUserConsumerTargetListByRefId/findUserConsumerTargetListByRefId.handler.ts
  src/modules/consumer/applications/queries/findUserConsumerTargetListByRefId/findUserConsumerTargetListByRefId.query.ts
  src/modules/consumer/applications/services/userConsumer.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/userConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/location/applications/queries/findUserLocationTargetListByRefId/findUserLocationTargetListByRefId.handler.ts
  src/modules/location/applications/queries/findUserLocationTargetListByRefId/findUserLocationTargetListByRefId.query.ts
  src/modules/location/applications/services/userLocation.service.ts
  src/modules/location/domain/interfaces/userLocationRepository.interface.ts
  src/modules/location/infrastructure/repositories/userLocation.repository.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/location/location.module.ts
  src/modules/receiver/applications/queries/findUserReceiverTargetListByRefId/findUserReceiverTargetListByRefId.handler.ts
  src/modules/receiver/applications/queries/findUserReceiverTargetListByRefId/findUserReceiverTargetListByRefId.query.ts
  src/modules/receiver/applications/services/userReceiver.service.ts
  src/modules/receiver/domain/interfaces/userReceiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check
