Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

config: 786383 rename use the name of the image for testing
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 rename set a right permission
  scripts/ci/detectBranchName/Dockerfile
Due: none

config: 786383 reset the permission to default and use another outpu
  scripts/ci/detectBranchName/Dockerfile
  scripts/ci/detectBranchName/index.sh
Due: none

config: 786383 remove output entierly
  scripts/ci/detectBranchName/index.sh
Due: none

config: 786383 use GITHUB_OUTPUT
  scripts/ci/detectBranchName/index.sh
Due: none

config: 786383 remove the user permission for testing
  scripts/ci/detectBranchName/Dockerfile
Due: none

config: 786383 remove the output
  scripts/ci/detectBranchName/index.sh
Due: none

config: 786383 use the output
  scripts/ci/detectBranchName/index.sh
Due: none

config: 786383 use user 1001
  Dockerfile
  scripts/ci/createVersion/Dockerfile
  scripts/ci/detectBranchName/Dockerfile
  scripts/ci/detectCommitSha/Dockerfile
  scripts/ci/docker/build/Dockerfile
  scripts/ci/docker/checkHealthy/Dockerfile
  scripts/ci/docker/cleanup/Dockerfile
  scripts/ci/docker/push/Dockerfile
  scripts/ci/docker/run/Dockerfile
  scripts/ci/docker/vars/Dockerfile
  scripts/ci/validateBranchName/Dockerfile
Due: none

config: 786383 remove pull-and-run-docker-image action
  .github/actions/pull-and-run-docker-image/action.yaml
Due: prettier --check

config: 786383 add the detect-branch-name action
  .github/actions/detect-branch-name/action.yaml
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 change the path of Dockerfile
  .github/actions/detect-branch-name/action.yaml
Due: prettier --check

config: 786383 use the local Dockerfile
  .github/actions/detect-branch-name/Dockerfile
  .github/actions/detect-branch-name/action.yaml
Due: prettier --check

config: 786383 use the context as root
  .github/actions/detect-branch-name/action.yaml
Due: prettier --check

config: 786383 change the running script dir
  .github/actions/detect-branch-name/Dockerfile
Due: none

config: 786383 remove the extra commands
  .github/actions/detect-branch-name/Dockerfile
  .github/actions/detect-branch-name/action.yaml
Due: prettier --check

config: 786383 remove the scripts from a file
  scripts/ci/detectBranchName.sh
  scripts/ci/detectBranchName/Dockerfile
Due: none

config: 786383 create the validate-branch-name action
  .github/actions/validate-branch-name/Dockerfile
  .github/actions/validate-branch-name/action.yaml
  .github/workflows/pr-ci.yaml
  package.json
  scripts/ci/validateBranchName.sh
  scripts/ci/validateBranchName/Dockerfile
Due: prettier --check

config: 786383 spliting the validateBranchName of ci and develpment
  .husky/pre-commit
  package.json
  scripts/ci/validateBranchName.sh
  scripts/common/validateBranchName.sh
  scripts/validateBranchName.sh
Due: prettier --check

config: 786383 rename the target scripts
  .github/actions/detect-branch-name/Dockerfile
Due: none

config: 786383 add chmod to scripts
  .husky/husky.sh
  scripts/ci/detectBranchName.sh
  scripts/ci/validateBranchName.sh
  scripts/ciDetector.sh
  scripts/common/startDocker.sh
  scripts/common/validateBranchName.sh
  scripts/generateBranchId.sh
  scripts/lintStaged.sh
  scripts/startDockerDevelopment.sh
  scripts/validateBranchName.sh
  scripts/validateCommitMessage.sh
Due: none

config: 786383 remove unused scripts
  scripts/ciDetector.sh
  scripts/createDockerImage.sh
Due: none

config: 786383 remove the error message
  scripts/common/validateBranchName.sh
Due: none

config: 786383 remove the docker login
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 use node-20
  .github/actions/validate-branch-name/Dockerfile
Due: none

config: 786383 format the files
  eslint.config.mjs
Due: none

config: 786383 reinstall package-lock.json
  package-lock.json
  scripts/common/logs.sh
Due: prettier --check

config: 786383 add the log functions
  scripts/common/logs.sh
Due: none

config: 786383 do not consider the erorrs related to export and command
  commitlint.config.js
Due: eslint --fix, prettier --check

config: 786383 use another shellCheck image
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 use another eslint security check
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 use ts compilation and security scans
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 use the offial docker image for ts compilatiion security
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 use the offial docker image for eslint
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 fix the command syntax error
  .github/workflows/pr-ci.yaml
Due: prettier --check

config: 786383 go to the root
  .github/workflows/pr-ci.yaml
Due: prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
