Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

config: 786383 rename the docker commands
  scripts/docker/entrypoint.development.sh
  scripts/docker/entrypoint.sh
  scripts/docker/updateDependencies.sh
Due: none

config: 786383 remove the base docker-compose and merge with docker-compose.development.yml
  docker-compose.development.yml
Due: prettier --check

config: 786383 remove docker-compose.base.yml and update package.json and package-lock.json
  docker-compose.base.yml
  package-lock.json
  package.json
Due: prettier --check

config: 786383 update the package-lock.json file
  package-lock.json
Due: prettier --check

config: 786383 fix the format
  docker-compose.development.yml
Due: prettier --check

config: 786383 add an step for checking the packages which are throwing error
  .github/workflows/master-pipeline.yaml
Due: prettier --check

config: 786383 remove the dubbing step and update the prune command in Dockerfile
  .github/workflows/master-pipeline.yaml
  Dockerfile
Due: prettier --check

config: 786383 change the command of npm ci for omiting dev
  Dockerfile
Due: none

config: 7863383 add TODO.txt as a text file
  .gitignore
  TODO.txt
Due: none

chore: 786383 another dummay change
  scripts/generateBranchId.js
Due: eslint --fix, prettier --check

dummy change
  scripts/generateBranchId.js
Due: eslint --fix, prettier --check

chore: 786383 another dummay changes
  scripts/generateBranchId.js
Due: eslint --fix, prettier --check

Revert "chore: 786383 another dummay change"
  scripts/generateBranchId.js
Due: eslint --fix, prettier --check

Revert "chore: 786383 another dummay changes"
  scripts/generateBranchId.js
Due: eslint --fix, prettier --check

Revert "dummy change"
  scripts/generateBranchId.js
Due: eslint --fix, prettier --check

chore: 786483 remove the extra lines
  scripts/generateBranchId.js
Due: eslint --fix, prettier --check

config: 786383 use npm prune command
  Dockerfile
Due: none

config: 786383 ignore trivy to scan the global node_modules file
  .github/workflows/master-pipeline.yaml
Due: prettier --check

config: 786383 update the docker scout command
  .github/workflows/master-pipeline.yaml
Due: prettier --check

config: 786383 add ignore-base to docker scout
  .github/workflows/master-pipeline.yaml
Due: prettier --check

config: 786383 ignore snyk to check the root node_modules file
  .github/workflows/master-pipeline.yaml
Due: prettier --check

config: 786383 don't ignore .env and .env.production
  .dockerignore
  .env
  .env.production
  .gitignore
Due: none
