Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 875092 do not ignore the healthcheck path
  src/common/infrastructure/pino/pino.module.ts
Due: eslint --fix, prettier --check

chore: 875092 revert the healthcheck path for ignoring
  src/common/infrastructure/pino/pino.module.ts
Due: eslint --fix, prettier --check

chore: 875092 update the healthcheck command for the log
  docker-compose.ci.yml
Due: prettier --check

chore: 875092 remove the log
  scripts/common/docker/runner.sh
Due: none

chore: 875092 move response to presentation
  src/common/infrastructure/core/filters/globalException/globalException.filter.ts
  src/common/infrastructure/core/filters/globalException/globalExceptionHostHandler.interface.ts
  src/common/infrastructure/core/filters/globalException/httpHost.handler.ts
  src/common/infrastructure/core/interceptors/transformResponse.interceptor.ts
  src/common/presentation/response/response.entity.ts
  src/common/presentation/response/response.interface.ts
Due: eslint --fix, prettier --check

chore: 875092 add SignupDto
  package.json
  pnpm-lock.yaml
  src/common/applications/dtos/singup.dto.ts
Due: eslint --fix, prettier --check

feature: 875092 add the controller and service of authentication for signup and call the create user command
  src/modules/authentication/applications/commands/signup/signup.command.ts
  src/modules/authentication/applications/commands/signup/signup.handler.ts
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/interface/constants/messages.constant.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 use signup dto locally
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/singup.dto.ts
Due: eslint --fix, prettier --check

chore: 875092 add CQRSModule
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 export CQRSModule
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 use CreateUserHandler as providers
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

feature: 875092 add the path of signup
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 add the validation pipe with whitelist
  src/common/infrastructure/core/core.module.ts
Due: eslint --fix, prettier --check

chore: 875092 rename get health query and remove diract call
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/applications/queries/getHealth/getHealth.query.ts
  src/modules/health/applications/services/health.service.ts
Due: eslint --fix, prettier --check

fix: 875092 add fast-uri as the overrides
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 move the core folder to the common
  src/common/core/constants/responseMetadata.constant.ts
  src/common/core/core.module.ts
  src/common/core/decorators/responseMessage.decorator.ts
  src/common/core/decorators/responseStatusCode.decorator.ts
  src/common/core/exceptions/app/error.strategy.ts
  src/common/core/exceptions/app/exception.interface.ts
  src/common/core/exceptions/app/exception.strategy.ts
  src/common/core/exceptions/app/exception.ts
  src/common/core/exceptions/app/exceptionStrategy.interface.ts
  src/common/core/exceptions/app/fallback.strategy.ts
  src/common/core/exceptions/app/http.strategy.ts
  src/common/core/exceptions/app/httpExceptionResponse.interface.ts
  src/common/core/exceptions/app/object.strategy.ts
  src/common/core/exceptions/app/objectException.interface.ts
  src/common/core/exceptions/app/string.strategy.ts
  src/common/core/filters/globalException/fallbackHost.handler.ts
  src/common/core/filters/globalException/globalException.filter.ts
  src/common/core/filters/globalException/globalExceptionHostHandler.interface.ts
  src/common/core/filters/globalException/httpHost.handler.ts
  src/common/core/interceptors/transformResponse.interceptor.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

feature: 875092 check if the user exists by email
  src/modules/user/applications/commands/createUser/createUser.handler.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

fix: 875092 update the path of AppException
  src/common/utils/readSecret.util.ts
Due: eslint --fix, prettier --check

fix: 875092 update the path of AppException
  src/common/utils/environments.util.ts
Due: eslint --fix, prettier --check

chore: 875092 rename presentation to application
  src/common/application/response/response.entity.ts
  src/common/application/response/response.interface.ts
  src/core/filters/globalException/globalException.filter.ts
  src/core/filters/globalException/globalExceptionHostHandler.interface.ts
  src/core/filters/globalException/httpHost.handler.ts
  src/core/interceptors/transformResponse.interceptor.ts
Due: eslint --fix, prettier --check

chore: 875092 upgrade typeorm
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 inforce message and statuscode
  src/core/interceptors/transformResponse.interceptor.ts
Due: eslint --fix, prettier --check

improvement: 875092 combine message and statuscode of a response to the Response decorator
  src/core/decorators/Response.decorator.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

config: 875092 add the pnpm installation options
  .npmrc
  Dockerfile
Due: none

chore: 875092 add class-transformer
  package.json
  pnpm-lock.yaml
Due: prettier --check

config: 875092 remove typeorm and @nestjs/typeorm
  package.json
  pnpm-lock.yaml
  src/infrastructure/database/typeorm/queryBuilder.extension.ts
Due: eslint --fix, prettier --check

config: 875092 add drizzle-orm
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 add @types/pg
  package.json
  pnpm-lock.yaml
Due: prettier --check

feature: 875092 replace typeorm with drizzle
  src/infrastructure/database/database.module.ts
  src/infrastructure/database/databaseConfig.service.ts
  src/infrastructure/database/drizzle/drizzle.module.ts
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/infrastructure/database/drizzle/drizzleClient.service.ts
  src/infrastructure/database/drizzle/drizzleConnection.service.ts
  src/infrastructure/database/naming.strategy.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/user/domain/entities/user.entity.ts
  src/modules/user/domain/interfaces/user.interface.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/entities/user.orm.entity.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 do lint:fix
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 use toEntityOrThrow for the user creation
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

fix: 875092 remove toEntity
  src/infrastructure/database/drizzle/drizzle.transformer.ts
Due: eslint --fix, prettier --check

fix: 875092 import the actual QueryBus not as a type
  src/modules/health/applications/services/health.service.ts
Due: eslint --fix, prettier --check

fix: 875092 use 4000 port
  docker-compose.development.yml
Due: prettier --check

fix: 875092 seach for just status ok since the response may has a message ok text
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 875092 do not use the duplicate error message
  src/core/filters/globalException/globalException.filter.ts
Due: eslint --fix, prettier --check
