Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

release: 5.0.2 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  8fff421c830d162c10b4d85cc8ffb45b34d83163
Due: none

chore: 498546 add the export generator interface
  src/core/features/export/exportGenerator.interface.ts
Due: eslint --fix, prettier --check

feature: 851618 add the location search
  src/modules/location/applications/services/location.service.ts
  src/modules/location/applications/services/locationSearchQuery.service.ts
  src/modules/location/interfaces/controllers/v1.constants.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/dtos/locationSearch.request.dto.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

feature: 851618 add the receiver search
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/applications/services/receiverSearchQuery.service.ts
  src/modules/receiver/interfaces/controllers/v1.constants.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/dtos/receiverSearch.request.dto.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

feature: 851618 add the consumer search
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/applications/services/consumerSearchQuery.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/interfaces/controllers/v1.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/consumer/interfaces/dtos/consumerSearch.request.dto.ts
Due: eslint --fix, prettier --check

release: 5.1.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  6f104f4928a5790e278ce94a22d31fc957b33097
Due: none

refactor: 498546 update the interface of export generator
  src/core/features/export/excel/excel.constants.ts
  src/core/features/export/excel/excel.module.ts
  src/core/features/export/excel/excelContext.type.ts
  src/core/features/export/excel/excelGenerator.interface.ts
  src/core/features/export/excel/excelMetadata.sheets.ts
  src/core/features/export/exportGenerator.interface.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/export/billsExport.job.ts
  src/modules/bill/applications/services/export/excel/billsExcelExport.constants.ts
  src/modules/bill/applications/services/export/excel/billsExcelExport.service.ts
  src/modules/bill/applications/services/export/excel/billsExcelExportGenerator.service.ts
  src/modules/bill/bill.module.ts
Due: eslint --fix, prettier --check

fix: 498546 update undici
  package.json
  pnpm-lock.yaml
Due: prettier --check

release: 5.1.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  8ba39695e5f913efe5f394f7eb57a45e0ea28fb6
Due: none

chore: 115301 remove drizzle folder from ignore files
  .dockerignore
  .gitignore
Due: none

chore: 115301 add the migrate command to the production entrypoint
  Dockerfile
Due: none

chore: 115301 add the db schemas
  drizzle/0000_swift_kitty_pryde.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
Due: prettier --check

chore: 115301 do not run migrate command before starting the app
  Dockerfile
Due: none

chore: 115301 remove all drizzle related files
  Dockerfile
Due: none

chore: 115301 add the stage of migration
  Dockerfile
Due: none

chore: 115301 add the scripts of migration
  .github/workflows/release.yaml
  package.json
  scripts/database/ciProductionMigrationEntrypoint.sh
  scripts/database/migration.sh
Due: prettier --check

chore: 115301 add the service of migration
  docker-compose.production.yml
Due: prettier --check

chore: 115301 update some packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

release: 5.1.2 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  2adbde4fd48a3ed7313721d477c245da6ab254ee
Due: none

chore: 115301 remove pnpm store
  Dockerfile
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
