Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 875092 remove the logs of the services
  scripts/common/docker/runner.sh
Due: none

chore: 875092 rename TransformResponseInterceptor to transformResponseInterceptor
  src/common/infrastructure/core/core.module.ts
Due: eslint --fix, prettier --check

chore: 875092 add VALIDATION_FAILED_MESSAGE
  src/common/constants/messages.constant.ts
Due: eslint --fix, prettier --check

chore: 875092 add data to the exceptions
  src/common/infrastructure/core/exceptions/app/error.strategy.ts
  src/common/infrastructure/core/exceptions/app/exception.interface.ts
  src/common/infrastructure/core/exceptions/app/exception.strategy.ts
  src/common/infrastructure/core/exceptions/app/exception.ts
  src/common/infrastructure/core/exceptions/app/exceptionStrategy.interface.ts
  src/common/infrastructure/core/exceptions/app/fallback.strategy.ts
  src/common/infrastructure/core/exceptions/app/http.strategy.ts
  src/common/infrastructure/core/exceptions/app/httpExceptionResponse.interface.ts
  src/common/infrastructure/core/exceptions/app/object.strategy.ts
  src/common/infrastructure/core/exceptions/app/string.strategy.ts
Due: eslint --fix, prettier --check

chore: 875092 add TransformValidatorResponsePipe
  src/common/infrastructure/core/core.module.ts
  src/common/infrastructure/core/pipes/transformValidationResponse.pipe.ts
  src/common/infrastructure/core/pipes/validationError.interface.ts
Due: eslint --fix, prettier --check

chore: 875092 rename transformResponse to ransformResponse
  src/common/infrastructure/core/core.module.ts
  src/common/infrastructure/core/interceptors/ransformResponse.interceptor.ts
Due: eslint --fix, prettier --check

chore: 875092 rename ransformResponse to transformResponse
  src/common/infrastructure/core/core.module.ts
  src/common/infrastructure/core/interceptors/transformResponse.interceptor.ts
Due: eslint --fix, prettier --check

chore: 875092 remove the transforming validatorPipe
  src/common/infrastructure/core/core.module.ts
  src/common/infrastructure/core/pipes/transformValidationResponse.pipe.ts
  src/common/infrastructure/core/pipes/validationError.interface.ts
Due: eslint --fix, prettier --check

chore: 875092 add the message to responseEntity
  src/common/infrastructure/core/filters/globalException/globalException.filter.ts
Due: eslint --fix, prettier --check

chore: 875092 remove data from appException
  src/common/infrastructure/core/exceptions/app/error.strategy.ts
  src/common/infrastructure/core/exceptions/app/exception.interface.ts
  src/common/infrastructure/core/exceptions/app/exception.strategy.ts
  src/common/infrastructure/core/exceptions/app/exception.ts
  src/common/infrastructure/core/exceptions/app/exceptionStrategy.interface.ts
  src/common/infrastructure/core/exceptions/app/fallback.strategy.ts
  src/common/infrastructure/core/exceptions/app/http.strategy.ts
  src/common/infrastructure/core/exceptions/app/object.strategy.ts
  src/common/infrastructure/core/exceptions/app/string.strategy.ts
Due: eslint --fix, prettier --check

chore: 875092 update the healthcheck to see the log of the response
  docker-compose.ci.yml
Due: prettier --check

chore: 875092 log the healthcheck
  scripts/common/docker/runner.sh
Due: none

chore: 875092 do not ignore the healthcheck path
  src/common/infrastructure/pino/pino.module.ts
Due: eslint --fix, prettier --check

chore: 875092 use the default healthcheck
  docker-compose.ci.yml
Due: prettier --check

chore: 875092 revert the healthcheck path for ignoring
  src/common/infrastructure/pino/pino.module.ts
Due: eslint --fix, prettier --check

chore: 875092 update the healthcheck command for the log
  docker-compose.ci.yml
Due: prettier --check

chore: 875092 remove the log
  scripts/common/docker/runner.sh
Due: none

feature: 875092 add the create user command
  src/modules/user/applications/commands/createUser/createUser.command.ts
Due: eslint --fix, prettier --check

feature: 875092 add the extensions of queryBuilder
  src/common/infrastructure/database/database.module.ts
  src/common/infrastructure/database/typeorm/queryBuilder.extension.ts
Due: eslint --fix, prettier --check

chore: 875092 disable import-x/no-unassigned-import
  eslint.config.mjs
Due: none

feature: 875092 add the create user command and repository
  src/modules/user/applications/commands/createUser/createUser.handler.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 875092 add argon2
  package.json
  pnpm-lock.yaml
Due: prettier --check

feature: 875092 add PasswordHasherService
  src/modules/user/applications/services/constants/passwordHasher.constant.ts
  src/modules/user/applications/services/passwordHashing.service.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

feature: 875092 add the signup commands
  src/modules/authentication/applications/commands/signup/signup.command.ts
  src/modules/authentication/applications/commands/signup/signup.handler.ts
  src/modules/authentication/authentication.module.ts
Due: eslint --fix, prettier --check

chore: 875092 rename passwordHashing to passwordHasher
  src/modules/authentication/applications/commands/signup/signup.handler.ts
  src/modules/user/applications/services/passwordHasher.service.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 add the core module
  src/app.module.ts
Due: eslint --fix, prettier --check

chore: 875092 add the type data to the response
  src/common/infrastructure/core/filters/globalException/globalException.filter.ts
  src/common/infrastructure/core/interceptors/TransformResponse.interceptor.ts
Due: eslint --fix, prettier --check

chore: 875092 add the transformResponseInterceptor for transforming any response
  eslint.config.mjs
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/core/constants/responseMetadata.constant.ts
  src/common/infrastructure/core/core.module.ts
  src/common/infrastructure/core/decorators/responseMessage.decorator.ts
  src/common/infrastructure/core/decorators/responseStatusCode.decorator.ts
  src/common/infrastructure/core/interceptors/TransformResponse.interceptor.ts
Due: eslint --fix, prettier --check

chore: 875092 remove DATABASE_SYNCHRONIZE
  .env
  .env.production
Due: none

chore: 875092 rename app.constants to app.constant
  src/common/constants/app.constant.ts
  src/main.ts
Due: eslint --fix, prettier --check

chore: 875092 add the health entity interface
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/domain/interfaces/health.interface.ts
Due: eslint --fix, prettier --check

chore: 875092 use the response entity in the exception
  src/common/infrastructure/exception/exception.filter.ts
  src/common/infrastructure/exception/hostHandler.interface.ts
  src/common/infrastructure/exception/httpHost.handler.ts
  src/common/kernel/entities/response.entity.ts
Due: eslint --fix, prettier --check

feature: 875092 add the user entity to the user module and add the user module to the app module
  src/app.module.ts
  src/modules/user/infrastructure/entities/user.entity.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 convert rename setApp and getApp to set and get
  src/common/infrastructure/apiVersioning/apiVersioning.interface.ts
  src/common/infrastructure/apiVersioning/apiVersioning.service.ts
  src/common/infrastructure/swagger/swagger.service.ts
  src/main.ts
Due: eslint --fix, prettier --check

chore: 875092 use ResponseMessage, ResponseStatusCode and HttpCode for the health controller
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 convert arrow function to the default function for types
  src/common/infrastructure/apiVersioning/apiVersioning.interface.ts
  src/common/infrastructure/appInstance/appInstance.interface.ts
  src/common/infrastructure/appInstance/appInstance.service.ts
  src/common/infrastructure/throttler/throttlerConfig.service.ts
  src/common/infrastructure/version/version.interface.ts
  src/common/infrastructure/version/version.provider.ts
  src/common/kernel/interfaces/appExceptionStrategy.interface.ts
  src/common/kernel/interfaces/globalExceptionHostHandler.interface.ts
  src/modules/health/domain/interfaces/healthIndicator.interface.ts
Due: eslint --fix, prettier --check

chore: 875092 move the global exception into the filter file
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/core/core.module.ts
  src/common/infrastructure/core/filters/globalException/fallbackHost.handler.ts
  src/common/infrastructure/core/filters/globalException/globalException.filter.ts
  src/common/infrastructure/core/filters/globalException/httpHost.handler.ts
  src/common/infrastructure/exception/exception.module.ts
  src/common/infrastructure/exception/fallbackHost.handler.ts
  src/common/kernel/interfaces/globalExceptionHostHandler.interface.ts
Due: eslint --fix, prettier --check

feature: 875092 add the authentication module and signup entitiy
  src/app.module.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/domain/entities/signup.entity.ts
  src/modules/authentication/domain/interfaces/signin.interface.ts
Due: eslint --fix, prettier --check
