Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 157169 add the template of create receiver message
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessage.handler.ts
Due: eslint --fix, prettier --check

chore: 157169 add the arg type of IMessageHandler
  src/core/message/messageDiscovery.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the custom bulk to hanlde errors
  src/infrastructure/elasticsearch/elasticsearch.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the delete location message
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessage.handler.ts
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessageElasticsearch.processor.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add mirror-elasticsearch job
  .github/workflows/pr-ci.yaml
Due: prettier --check

fix: 157169 upgrade the packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 157169 fix the error for now becuase of the drizzle schema
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
  src/modules/outbox/infrastructure/repositories/outboxEvent.repository.ts
Due: eslint --fix, prettier --check

chore: 157169 add the elasticsearch docker entrypoint
  Dockerfile.elasticsearch
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/elasticsearch/entrypoint.sh
Due: prettier --check

chore: 157169 update the type of aggregate type
  src/modules/outbox/domain/domain.constants.ts
  src/modules/outbox/domain/interfaces/outboxEventAggregateType.interface.ts
Due: eslint --fix, prettier --check

chore: 157169 update the name of elastic
  .env
  .env.production
Due: none

chore: 157169 use route instead of aggregate type
  scripts/debezium/registerConnector.sh
  src/core/message/messageHandler.interface.ts
  src/core/message/messageHeader.interface.ts
  src/core/message/messageRegistry.service.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 use TOutboxEventType
  src/core/message/messageHeader.interface.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
Due: eslint --fix, prettier --check

chore: 157169 use route inside CreateReceiverMessageHandler
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessage.handler.ts
Due: eslint --fix, prettier --check

chore: 157169 use custom bulk
  eslint.config.mjs
  src/infrastructure/elasticsearch/elasticsearch.service.ts
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessageElasticsearch.processor.ts
Due: eslint --fix, prettier --check

chore: 157169 remove the mirror job
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 157169 add route as a defualt column
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
  src/modules/outbox/domain/utils/createOutboxRoute.util.ts
  src/modules/outbox/infrastructure/repositories/outboxEvent.repository.ts
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
Due: eslint --fix, prettier --check

chore: 157169 add the evns of elasticsearch
  .env
  .env.production
Due: none

chore: 157169 add deleteReceiver message
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/deleteReceiver/deleteReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add route for kafka top
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
Due: eslint --fix, prettier --check

chore: 157169 add the consumer messages
  src/infrastructure/elasticsearch/elasticsearch.service.ts
  src/modules/consumer/applications/messages/createConsumer/createConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/createConsumer/createConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/applications/messages/deleteConsumer/deleteConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/deleteConsumer/deleteConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/applications/messages/updateConsumer/updateConsumerMessage.handler.ts
  src/modules/consumer/applications/messages/updateConsumer/updateConsumerMessageElasticsearch.processor.ts
  src/modules/consumer/consumer.module.ts
  src/modules/location/applications/messages/createLocation/createLocationMessage.handler.ts
  src/modules/location/applications/messages/deleteLocation/deleteLocationMessage.handler.ts
  src/modules/location/applications/messages/updateLocation/updateLocationMessage.handler.ts
Due: eslint --fix, prettier --check

chore: 157169 add depoend_on of elastic to expense-api service
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 157169 add the create location message
  src/modules/location/applications/messages/createLocation/createLocationMessage.handler.ts
  src/modules/location/applications/messages/createLocation/createLocationMessageElasticsearch.processor.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add the elasticsearch env to docker compose
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 157169 add the update location message
  src/modules/location/applications/messages/updateLocation/updateLocationMessage.handler.ts
  src/modules/location/applications/messages/updateLocation/updateLocationMessageElasticsearch.processor.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

chore: 157169 add the elasticsearch module
  .env
  .env.production
  src/infrastructure/elasticsearch/elasticsearch.constants.ts
  src/infrastructure/elasticsearch/elasticsearch.module.ts
Due: eslint --fix, prettier --check

chore: 157169 remove the comment
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add @xhmikosr/decompress as ovverrides
  package.json
Due: prettier --check

chore: 157169 add updateReceiver message
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 157169 use route instead of aggregate_type
  scripts/debezium/registerConnector.sh
Due: none

chore: 157169 restric the type
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/applications/messages/updateReceiver/updateReceiverMessageElasticsearch.processor.ts
Due: eslint --fix, prettier --check

chore: 157169 remove the extra type of outbox
  src/modules/bill/domain/interfaces/billOutboxEvent.interface.ts
  src/modules/consumer/domain/interfaces/consumerOutboxEvent.interface.ts
  src/modules/location/domain/interfaces/locationOutboxEvent.interface.ts
  src/modules/receiver/domain/interfaces/receiverOutboxEvent.interface.ts
Due: eslint --fix, prettier --check

chore: 157169 add the elasticsearch password as secret
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore: 157169 wrap the parser logic into trycatch
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
Due: eslint --fix, prettier --check

fix: 157169 remove the chmod
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

release: 4.1.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  a27ce89a6ac379794d53d7377db5653750bc4e50
Due: none

feature: 389615 add the search api
  src/app.module.ts
  src/common/common.constants.ts
  src/infrastructure/elasticsearch/elasticsearchAnalysis.settings.ts
  src/infrastructure/elasticsearch/elasticsearchDefinition.interface.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/infrastructure/elasticsearch/billElasticsearch.definition.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/infrastructure/elasticsearch/consumerElasticsearch.definition.ts
  src/modules/location/infrastructure/elasticsearch/locationElasticsearch.definition.ts
  src/modules/location/location.module.ts
  src/modules/receiver/infrastructure/elasticsearch/receiverElasticsearch.definition.ts
  src/modules/receiver/receiver.module.ts
  src/modules/search/applications/services/search.service.ts
  src/modules/search/domain/interface/search.interface.ts
  src/modules/search/interfaces/controllers/controllers.constants.ts
  src/modules/search/interfaces/controllers/v1.controller.ts
  src/modules/search/interfaces/dtos/search.request.dto.ts
  src/modules/search/interfaces/dtos/search.response.dto.ts
  src/modules/search/search.module.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
