Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 125823 add some configuration related to parser, import groups and avoiding relative pathes
  eslint.config.mjs
Due: none

chore: 125823 modify the pattern for import
  eslint.config.mjs
Due: none

chore: 125823 modify the import pattern based on the rules
  src/app.module.ts
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/database/databaseConfig.service.ts
  src/common/infrastructure/database/naming.strategy.ts
  src/common/infrastructure/exception/exception.filter.ts
  src/common/infrastructure/exception/exceptionResponse.builder.ts
  src/common/infrastructure/exception/fallbackException.extractor.ts
  src/common/infrastructure/exception/hostHandler.interface.ts
  src/common/infrastructure/exception/httpException.extractor.ts
  src/common/infrastructure/exception/httpHost.handler.ts
  src/common/infrastructure/exception/standardException.extractor.ts
  src/common/infrastructure/redis/redis.module.ts
  src/common/infrastructure/redis/redisConfig.service.ts
  src/common/infrastructure/swagger/swagger.module.ts
  src/common/infrastructure/swagger/swagger.service.ts
  src/common/infrastructure/version/version.implementation.ts
  src/common/infrastructure/version/version.provider.ts
  src/common/utils/readSecret.util.ts
  src/main.ts
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/applications/services/health.service.ts
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/health.module.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 125823 add the custom pathes which starts with @
  tsconfig.json
Due: prettier --check

fix: 125823 fix the modules imported from the related pacakges
  src/common/infrastructure/common.module.ts
Due: eslint --fix, prettier --check

chore: 125823 remove the log of database
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
Due: eslint --fix, prettier --check

chore: 125823 add the ts config to the nest cli file and also do not ignore for docker
  .dockerignore
  nest-cli.json
Due: prettier --check

refactor: 364295 use INTERNAL_SERVICE_ERROR
  src/common/kernel/exceptions/app.exception.ts
Due: eslint --fix, prettier --check

refactor: 364295 use strategy pattern for extract the message of the error
  src/common/kernel/exceptions/app.exception.ts
  src/common/kernel/exceptions/error.strategy.ts
  src/common/kernel/exceptions/errorStrategy.interface.ts
  src/common/kernel/exceptions/fallback.strategy.ts
  src/common/kernel/exceptions/objectWithMessage.strategy.ts
  src/common/kernel/exceptions/string.strategy.ts
Due: eslint --fix, prettier --check

config: 393315 add the throttler configuration and setup
  src/common/infrastructure/throttler/throttler.constants.ts
  src/common/infrastructure/throttler/throttler.guard.ts
  src/common/infrastructure/throttler/throttler.module.ts
  src/common/infrastructure/throttler/throttlerConfig.service.ts
Due: eslint --fix, prettier --check

config: 393315 add the throttle envs
  .env
  .env.production
Due: none

config: 393315 add the throttle packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

config: 393315 add ThrottlerModule to CommonModule
  src/common/infrastructure/common.module.ts
Due: eslint --fix, prettier --check

chore: 393315 use configService to extract dev and prod envs
  src/common/utils/environments.util.ts
Due: eslint --fix, prettier --check

fix: 393315 import RedisModule
  src/common/infrastructure/throttler/throttler.module.ts
  src/common/infrastructure/throttler/throttlerConfig.service.ts
Due: eslint --fix, prettier --check

fix: 393315 update some packages to ignore the security exception
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 393315 add qs inside overrides to ignore the security exception
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 393315 remove the nestj indicator for healthcheck
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
  src/modules/health/applications/services/health.service.ts
  src/modules/health/health.module.ts
  src/modules/health/infrastructure/constants/nestjsWebsite.constants.ts
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
Due: eslint --fix, prettier --check

fix: 393315 rename HealthService
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 271190 export the version module and the provider name
  src/common/infrastructure/version/version.module.ts
Due: eslint --fix, prettier --check

chore: 271190 add the pino configuration
  package.json
  pnpm-lock.yaml
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/pino/pino.module.ts
  src/common/utils/environments.util.ts
  src/main.ts
Due: eslint --fix, prettier --check

config: 271190 add the elasticsearch and filebeat
  docker-compose.production.yml
  filebeat.yml
Due: prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
