Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 287588 add exit code
  scripts/debezium/registerConnector.sh
Due: none

chore: 287588 add some evns to kafka service
  docker-compose.development.yml
Due: prettier --check

fix: 287588 fix the indentation
  docker-compose.ci.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 add the configuration of the debezium and kafka services
  Dockerfile.debeziumInit
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/debezium/registerConnector.sh
Due: prettier --check

chore: 287588 add an action to mirror the debezium image to my github repo
  .github/workflows/mirror-debezium.yaml
Due: prettier --check

chore: 287588 remove the quotes
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 spliting docker file of postgres for dev and prod
  Dockerfile.postgresql.development
  Dockerfile.postgresql.production
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/debezium/registerConnector.sh
Due: prettier --check

chore: 287588 convert some services of kafka to message
  src/core/message/message.constants.ts
  src/core/message/message.module.ts
  src/core/message/messageDiscovery.service.ts
  src/core/message/messageHandler.decorator.ts
  src/core/message/messageHandler.interface.ts
  src/core/message/messageRegistry.service.ts
  src/infrastructure/kafka/kafka.constants.ts
  src/infrastructure/kafka/kafka.module.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
  src/infrastructure/kafka/kafkaHandler.decorator.ts
Due: eslint --fix, prettier --check

chore: 287588 remove the debezium job
  .github/workflows/pr-ci.yaml
Due: prettier --check

release: 4.1.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  6ebb6a767e57c3cdcaff7ea6061f775dddf389d6
Due: none

chore: 157169 add elasticsearch service
  .github/workflows/pr-ci.yaml
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 157169 add the elasticsearch password as secret
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore: 157169 remove the mirror job
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 157169 use my own elasticsearch hub
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 157169 add depoend_on of elastic to expense-api service
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 157169 add mirror-elasticsearch job
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 157169 add @xhmikosr/decompress as ovverrides
  package.json
Due: prettier --check

chore: 157169 add @xhmikosr/decompress as ovverrides
  pnpm-lock.yaml
Due: prettier --check

chore: 157169 add chmod to elasticsearch password
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore: 157169 add the evns of elasticsearch
  .env
  .env.production
Due: none

chore: 157169 add the elasticsearch env to docker compose
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 157169 add the url of elasticsearch
  .env
  .env.production
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 157169 add the elasticsearch module
  .env
  .env.production
  src/infrastructure/elasticsearch/elasticsearch.constants.ts
  src/infrastructure/elasticsearch/elasticsearch.module.ts
Due: eslint --fix, prettier --check

chore: 157169 update the type of aggregate type
  src/modules/outbox/domain/domain.constants.ts
  src/modules/outbox/domain/interfaces/outboxEventAggregateType.interface.ts
Due: eslint --fix, prettier --check

chore: 157169 add the elasticsearch service
  src/infrastructure/elasticsearch/elasticsearch.module.ts
  src/infrastructure/elasticsearch/elasticsearch.service.ts
Due: eslint --fix, prettier --check

chore: 157169 pass just batch to each message
  src/core/message/messageHandler.interface.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the properties to the header
  scripts/debezium/registerConnector.sh
Due: none

chore: 157169 add the message header and payload
  src/core/message/messageBatch.interface.ts
  src/core/message/messageHandler.interface.ts
  src/core/message/messageHeader.interface.ts
  src/core/message/messagePayload.interface.ts
  src/core/message/messageRegistry.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the kafka batch parser
  src/infrastructure/kafka/kafka.module.ts
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 wrap the parser logic into trycatch
  src/infrastructure/kafka/kafkaBatchPerser.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the arg type of IMessageHandler
  src/core/message/messageDiscovery.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the message processor
  src/core/message/messageHandler.interface.ts
  src/core/message/messageProcessor.interface.ts
Due: eslint --fix, prettier --check

chore: 157169 remove the comment
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 157169 add the template of create receiver message
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessage.handler.ts
Due: eslint --fix, prettier --check

chore: 157169 add the elasticsearch docker entrypoint
  Dockerfile.elasticsearch
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/elasticsearch/entrypoint.sh
Due: prettier --check

chore: 157169 downgrade elastic to 8.17
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 157169 update the name of elastic
  .env
  .env.production
Due: none

chore: 157169 create the message of create receiver
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessage.handler.ts
  src/modules/receiver/applications/messages/createReceiver/createReceiverMessageElasticsearch.processor.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check
