Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 875092 disable import-x/no-unassigned-import
  eslint.config.mjs
Due: none

feature: 875092 replace typeorm with drizzle
  src/infrastructure/database/database.module.ts
  src/infrastructure/database/databaseConfig.service.ts
  src/infrastructure/database/drizzle/drizzle.module.ts
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/infrastructure/database/drizzle/drizzleClient.service.ts
  src/infrastructure/database/drizzle/drizzleConnection.service.ts
  src/infrastructure/database/naming.strategy.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/user/domain/entities/user.entity.ts
  src/modules/user/domain/interfaces/user.interface.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/entities/user.orm.entity.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

feature: 875092 check if the user exists by email
  src/modules/user/applications/commands/createUser/createUser.handler.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 875092 rename presentation to application
  src/common/application/response/response.entity.ts
  src/common/application/response/response.interface.ts
  src/core/filters/globalException/globalException.filter.ts
  src/core/filters/globalException/globalExceptionHostHandler.interface.ts
  src/core/filters/globalException/httpHost.handler.ts
  src/core/interceptors/transformResponse.interceptor.ts
Due: eslint --fix, prettier --check

fix: 875092 remove toEntity
  src/infrastructure/database/drizzle/drizzle.transformer.ts
Due: eslint --fix, prettier --check

fix: 875092 seach for just status ok since the response may has a message ok text
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 875092 export CQRSModule
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 do not use the duplicate error message
  src/core/filters/globalException/globalException.filter.ts
Due: eslint --fix, prettier --check

chore: 875092 add transform and forbidNonWhitelisted
  src/core/core.module.ts
Due: eslint --fix, prettier --check

fix: 875092 use actual SignupDto not as a type
  src/modules/authentication/interface/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

chore: 875092 select all properties
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 875092 use initial value of updatedAt
  src/modules/user/domain/entities/user.entity.ts
  src/modules/user/infrastructure/entities/user.orm.entity.ts
Due: eslint --fix, prettier --check

chore: 875092 change to the Signup name
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/domain/entities/signup.entity.ts
  src/modules/authentication/domain/interfaces/signup.interface.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/signup.dto.ts
Due: eslint --fix, prettier --check

chore: 875092 do not export userRolesEnum
  src/modules/user/infrastructure/entities/user.orm.entity.ts
Due: eslint --fix, prettier --check

chore: 875092 convert orm to schema
  package.json
  pnpm-lock.yaml
  src/modules/user/domain/entities/user.entity.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

chore: 875092 add @humanwhocodes/env and setup the drizzle configuration
  .dockerignore
  .gitignore
  Dockerfile
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --check

chore: 875092 use getOrThrow for envs
  src/common/utils/environments.util.ts
  src/infrastructure/database/drizzle/drizzleConnection.service.ts
  src/infrastructure/redis/redis.constants.ts
  src/infrastructure/redis/redisConfig.service.ts
  src/infrastructure/throttler/throttlerConfig.service.ts
Due: eslint --fix, prettier --check

fix: 875092 update the error message
  drizzle.config.ts
Due: eslint --fix, prettier --check

fix: 875092 use the url instead of the properties
  drizzle.config.ts
Due: eslint --fix, prettier --check

chore: 875092 update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --check

fix: 875092 use --force
  package.json
Due: prettier --check

chore: 875092 use the TRequiredInsertUser type and ignore id when a new user wants to create
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/user/applications/commands/createUser/createUser.handler.ts
  src/modules/user/domain/entities/user.entity.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check

fix: 875092 update axios
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 875092 override the axios
  package.json
Due: prettier --check

chore: 875092 add the related nodemailer packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 add the jwt related packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 875092 add some envs related to mail
  .env
  .env.production
Due: none

chore: 875092 add the jwt and mailer module and services
  src/infrastructure/infrastructure.module.ts
  src/infrastructure/jwt/jwt.module.ts
  src/infrastructure/mailer/mailer.module.ts
Due: eslint --fix, prettier --check

ci: 875092 add the new secrets
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore: 875092 remove the password hasher service
  src/modules/user/applications/services/constants/passwordHasher.constant.ts
  src/modules/user/applications/services/passwordHasher.service.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

chore: 875092 add the services related to the signup
  src/modules/authentication/applications/services/EmailVerificationMailer.service.ts
  src/modules/authentication/applications/services/EmailVerificationToken.service.ts
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/constants/passwordHasher.constant.ts
  src/modules/authentication/applications/services/passwordHasher.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/interface/constants/messages.constant.ts
Due: eslint --fix, prettier --check

chore: 875092 rename emailVerificationMailer and emailVerificationToken
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/emailVerificationMailer.service.ts
  src/modules/authentication/applications/services/emailVerificationToken.service.ts
  src/modules/authentication/authentication.module.ts
Due: eslint --fix, prettier --check

feature: 875092 get a user by email
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

chore: 875092 add the secrets to the docker compose files
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

feature: 875092 add the getUserByEmail query
  src/modules/user/applications/queries/getUserByEmail/getUserByEmail.handler.ts
  src/modules/user/applications/queries/getUserByEmail/getUserByEmail.query.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

feature: 875092 add the sending email verification token route and the related services
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/emailVerificationCache.service.ts
  src/modules/authentication/applications/services/emailVerificationMailer.service.ts
  src/modules/authentication/applications/services/emailVerificationToken.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/interface/constants/messages.constant.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/emailVerificationToken.dto.ts
Due: eslint --fix, prettier --check

feature: 875092 add the update user logic
  src/modules/user/applications/commands/updateUser/updateUser.command.ts
  src/modules/user/applications/commands/updateUser/updateUser.handler.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

feature: 875092 add the verifying email verification token logic
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/emailVerificationCache.service.ts
  src/modules/authentication/applications/services/emailVerificationMailer.service.ts
  src/modules/authentication/applications/services/emailVerificationToken.service.ts
  src/modules/authentication/authentication.module.ts
  src/modules/authentication/domain/interfaces/emailVerificationTokenPayload.interface.ts
  src/modules/authentication/interface/constants/messages.constant.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/authentication/interface/dtos/emailVerificationTokenVerifying.dto.ts
Due: eslint --fix, prettier --check

chore: 875092 rename the types of the user schema
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/emailVerificationMailer.service.ts
  src/modules/authentication/applications/services/emailVerificationToken.service.ts
  src/modules/authentication/interface/controllers/v1.controller.ts
  src/modules/user/applications/commands/createUser/createUser.handler.ts
  src/modules/user/applications/commands/updateUser/updateUser.handler.ts
  src/modules/user/domain/entities/user.entity.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/infrastructure/schemas/user.schema.ts
Due: eslint --fix, prettier --check
