Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

breaking: 970655 remove unnessesary services
  src/modules/authentication/applications/services/authentication.service.ts
  src/modules/authentication/applications/services/googleProvider.service.ts
  src/modules/authentication/applications/services/localProvider.service.ts
Due: eslint --fix, prettier --check

breaking: 970655 use IServiceHandler for the receiver services
  src/core/interfaces/serviceHandler.interface.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/receiver/applications/services/createReceiver.service.ts
  src/modules/receiver/applications/services/getReceiverByNameOrCreate.service.ts
  src/modules/receiver/applications/services/getReceiverByNameOrNull.service.ts
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

chore: 970655 remove the type
  src/modules/authentication/applications/services/localSignup.service.ts
Due: eslint --fix, prettier --check

chore: 970655 remove the unused cqrs module
  src/core/authentication/authentication.module.ts
  src/infrastructure/cqrs/cqrs.module.ts
  src/infrastructure/infrastructure.module.ts
  src/modules/authentication/authentication.module.ts
  src/modules/bill/bill.module.ts
  src/modules/consumer/consumer.module.ts
  src/modules/health/health.module.ts
  src/modules/location/location.module.ts
  src/modules/receiver/receiver.module.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

release: 2.0.0 [skip ci] (major)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  f9457c9c8106626036df3f781ab45cd27b2c7609
Due: none

chore: 479011 remove the extra exceptions
  src/core/authentication/googleAuth.strategy.ts
  src/core/authentication/jwtAuth.strategy.ts
  src/core/exceptions/invalidCredentialBadRequest.exception.ts
  src/core/exceptions/processFailedForbidden.exception.ts
  src/core/exceptions/processFailedUnauthorized.exception.ts
  src/modules/authentication/applications/services/localLogin.service.ts
  src/modules/authentication/applications/services/localResetPassword.service.ts
  src/modules/authentication/applications/services/localVerifyVerification.service.ts
Due: eslint --fix, prettier --check

feature: 905315 add the get bill api
  src/modules/bill/applications/queries/getBillByIdOrThrow/getBillByIdOrThrow.handler.ts
  src/modules/bill/applications/queries/getBillByIdOrThrow/getBillByIdOrThrow.query.ts
  src/modules/bill/applications/services/getBillByIdOrThrow.service.ts
  src/modules/bill/bill.module.ts
  src/modules/bill/domain/interfaces/billRepository.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/controllers.constants.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/getBillParam.request.dto.ts
Due: eslint --fix, prettier --check

release: 2.1.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  d43c0c78168384e07da10591c5250ba27064607c
Due: none

feature: 955211 add the get user (me) api
  src/core/authentication/authentication.module.ts
  src/modules/user/applications/queries/getUserByIdOrThrow/getUserByIdOrThrow.handler.ts
  src/modules/user/applications/queries/getUserByIdOrThrow/getUserByIdOrThrow.query.ts
  src/modules/user/applications/services/getUserByIdOrThrow.service.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/interfaces/controllers/controllers.constants.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/dtos/user.response.dto.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

release: 2.2.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  88d35eaefdd91e8ec53a81ed822904dd7e9095dc
Due: none

chore: 299674 add the owner guard
  src/core/interfaces/request.interface.ts
  src/core/user/currentUser.decorator.ts
  src/modules/user/interfaces/guards/owner.guard.ts
Due: eslint --fix, prettier --check

feature: 992985 add the get many users api
  src/modules/user/applications/queries/getManyUsers/getManyUsers.handler.ts
  src/modules/user/applications/queries/getManyUsers/getManyUsers.query.ts
  src/modules/user/applications/services/getManyUsers.service.ts
  src/modules/user/domain/interfaces/userRepository.interface.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
  src/modules/user/interfaces/controllers/controllers.constants.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/dtos/getManyUsersQuery.request.dto.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

feature: 150819 add the get user api
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/dtos/getUserParam.request.dto.ts
Due: eslint --fix, prettier --check

release: 2.3.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  66fc538b93c2f821d41547f5c3f1f127ee4c8430
Due: none

feature: 603816 add get receiver api
  src/modules/receiver/applications/queries/getReceiverByIdAndUserIdOrThrow/getReceiverByIdAndUserIdOrThrow.handler.ts
  src/modules/receiver/applications/queries/getReceiverByIdAndUserIdOrThrow/getReceiverByIdAndUserIdOrThrow.query.ts
  src/modules/receiver/applications/services/getReceiverByIdAndUserIdOrThrow.service.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/interfaces/controllers/controllers.constants.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/dtos/getReceiver.request.dto.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

release: 2.4.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  3304006c988832104037fa64424e83e506605ba2
Due: none

refactor: 614766 rename the dtos
  src/modules/bill/applications/services/getManyBills.service.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/getBill.request.dto.ts
  src/modules/bill/interface/dtos/getManyBills.request.dto.ts
  src/modules/user/applications/services/getManyUsers.service.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/interfaces/dtos/getManyUsers.request.dto.ts
  src/modules/user/interfaces/dtos/getUser.request.dto.ts
Due: eslint --fix, prettier --check

refactor: 614766 move out owner guard to core
  src/core/guards/owner.guard.ts
  src/modules/user/interfaces/controllers/v1.controller.ts
  src/modules/user/user.module.ts
Due: eslint --fix, prettier --check

refactor: 614766 add the bill interface which has joind properties
  src/modules/bill/applications/queries/getBillByIdOrThrow/getBillByIdOrThrow.handler.ts
  src/modules/bill/applications/queries/getManyBills/getManyBills.handler.ts
  src/modules/bill/applications/services/getBillByIdOrThrow.service.ts
  src/modules/bill/applications/services/getManyBills.service.ts
  src/modules/bill/domain/interfaces/bill.interface.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/bill.response.dto.ts
Due: eslint --fix, prettier --check

refactor: 614766 move omitUndefined to the service
  src/modules/user/applications/commands/updateUser/updateUser.handler.ts
  src/modules/user/applications/services/updateUser.service.ts
Due: eslint --fix, prettier --check

refactor: 614766 use prepare and exexute
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/consumer/infrastructure/repositories/billConsumer.repository.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/infrastructure/repositories/userLocation.repository.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check

refactor: 614766 rename the prepare
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
Due: eslint --fix, prettier --check
