Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 799869 rename dbBackup.cron
  Dockerfile.postgresql
  dbBackup.cron
  scripts/database/entrypoint.sh
Due: none

chore: 287588 add the configuration of the debezium and kafka services
  Dockerfile.debeziumInit
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/debezium/registerConnector.sh
Due: prettier --check

chore: 287588 use bash
  scripts/database/entrypoint.sh
Due: none

chore: 287588 do not expose the porst
  docker-compose.ci.yml
  docker-compose.production.yml
Due: prettier --check

fix: 287588 fix the indentation
  docker-compose.ci.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 add an action to mirror the debezium image to my github repo
  .github/workflows/mirror-debezium.yaml
Due: prettier --check

chore: 287588 add an action to mirror the debezium image to my github repo
  .github/workflows/mirror-debezium.yaml
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 287588 remove the debezium job
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 287588 use image: mohammadnowresideh1997/debezium-connect:3.0.8.Final
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 remove the quotes
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 add kafka and debezium-connect depends_on
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 remove search prefix
  scripts/debezium/registerConnector.sh
Due: none

chore: 287588 add the kafka configuration
  .env
  .env.production
  package.json
  pnpm-lock.yaml
  src/infrastructure/infrastructure.module.ts
  src/infrastructure/kafka/kafka.constants.ts
  src/infrastructure/kafka/kafka.module.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
  src/infrastructure/kafka/kafkaDiscovery.servicce.ts
  src/infrastructure/kafka/kafkaHandler.decorator.ts
  src/infrastructure/kafka/kafkaHandler.interface.ts
  src/infrastructure/kafka/kafkaRegistry.service.ts
  src/modules/outbox/domain/domain.constants.ts
  src/modules/outbox/domain/interfaces/outboxEventAggregateType.interface.ts
  src/modules/outbox/domain/interfaces/outboxEventType.interface.ts
Due: eslint --fix, prettier --check

chore: 287588 convert some services of kafka to message
  src/core/message/message.constants.ts
  src/core/message/message.module.ts
  src/core/message/messageDiscovery.service.ts
  src/core/message/messageHandler.decorator.ts
  src/core/message/messageHandler.interface.ts
  src/core/message/messageRegistry.service.ts
  src/infrastructure/kafka/kafka.constants.ts
  src/infrastructure/kafka/kafka.module.ts
  src/infrastructure/kafka/kafkaConsumer.service.ts
  src/infrastructure/kafka/kafkaHandler.decorator.ts
Due: eslint --fix, prettier --check

chore: 287588 add discovery service into message and remove from kafka
  src/core/message/message.module.ts
  src/infrastructure/kafka/kafka.module.ts
Due: eslint --fix, prettier --check

chore: 287588 remove the option of conusmer run
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 287588 add some evns to kafka service
  docker-compose.development.yml
Due: prettier --check

chore: 287588 add some envs related to kafka
  docker-compose.ci.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 add fromBeginning
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

chore: 287588 override the postgres command
  docker-compose.development.yml
Due: prettier --check

chore: 287588 spliting docker file of postgres for dev and prod
  Dockerfile.postgresql.development
  Dockerfile.postgresql.production
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/debezium/registerConnector.sh
Due: prettier --check

chore: 287588 update debezuim healthcheck
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 add exit code
  scripts/debezium/registerConnector.sh
Due: none

chore: 287588 wait for debezium service to be completed
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 287588 disable auto creation topics
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  src/infrastructure/kafka/kafkaConsumer.service.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
