Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

refactor: 810162 refactor around the validate branch name scripts
  scripts/common/validateBranchName.sh
Due: none

refactor: 128834 refactor around the create branch id scripts
  package.json
  scripts/development/createBranchId.sh
  scripts/development/generateBranchId.sh
Due: prettier --check

refactor: 979848 refactor around the validate commit message scripts
  scripts/development/validateCommitMessage.sh
Due: none

refactor: 685050 refactor around the husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: 810473 remove the git configuration
  scripts/ci/createVersion.sh
Due: none

config: 263864 use swc instead of default compilation
  .swcrc
  nest-cli.json
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 263864 fix the source of husky
  .husky/husky.sh
Due: none

chore: 263864 format the entire code
  pnpm-lock.yaml
Due: prettier --check

chore: 782129 ignore the TODO file
  .gitignore
Due: none

chore: 782129 remove the controller and service
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Due: eslint --fix, prettier --check

chore: 782129 add some global constants and utils
  src/common/constants/index.ts
  src/common/utils/environments.util.ts
  src/common/utils/getCurrentUTCTimestamp.util.ts
  src/common/utils/readSecret.util.ts
Due: eslint --fix, prettier --check

feature: 782129 add the aggrigates and entities of health
  eslint.config.mjs
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/domain/interfaces/healthIndicator.interface.ts
Due: eslint --fix, prettier --check

feature: 782129 add the excepitions and the indicators of database, nestjs website and redis of health
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
Due: eslint --fix, prettier --check

feature: 782129 add the applications of health including queries and services
  src/modules/health/applications/queries/getHealth/getHealth.Handler.ts
  src/modules/health/applications/queries/getHealth/getHealth.query.ts
  src/modules/health/applications/services/health.service.ts
Due: eslint --fix, prettier --check

feature: 782129 add the interfaces of health including controllers
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

feature: 782129 import the health module
  src/app.module.ts
Due: eslint --fix, prettier --check

feature: 782129 add the module of health
  src/modules/health/health.module.ts
Due: eslint --fix, prettier --check

chore: 782129 add some packages related to axios, redis, cqrs, terminus and typeorm
  package.json
  pnpm-lock.yaml
Due: prettier --check

config: 782129 add the pnpm-lock.yaml file
  Dockerfile
Due: none

config: 782129 use corepack instead of npm
  Dockerfile
Due: none

chore: 782129 add the some common infrastructure related to redis and postgres, ...
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/config/config.module.ts
  src/common/infrastructure/database/database.module.ts
  src/common/infrastructure/database/databaseConfig.service.ts
  src/common/infrastructure/database/naming.strategy.ts
  src/common/infrastructure/redis/redis.module.ts
  src/common/infrastructure/redis/redisConfig.service.ts
Due: eslint --fix, prettier --check

chore: 782129 add the common exception
  src/common/kernel/exceptions/app.exception.ts
Due: eslint --fix, prettier --check

config: 782129 add the secret files
  .env
  .env.production
Due: none

chore: 782129 rename getHealth.Handler.ts to getHealth.handler.ts
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
Due: eslint --fix, prettier --check

config: 782129 add the secret files
  .env.production
Due: none

chore: 782129 add REDIS_DB
  .env
  .env.production
Due: none

config: 782129 disable exactOptionalPropertyTypes
  tsconfig.security.json
Due: prettier --check

ci: 562441 add fetch-depth
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 562441 use /v1/api/health path
  Dockerfile
  docker-compose.swarm.ci.yml
  docker-compose.swarm.development.yml
Due: prettier --check

chore: 562441 remove pnpm-lock.yaml file
  Dockerfile
Due: none

ci: 562441 remove fetch-depth
  .github/workflows/master-ci.yaml
Due: prettier --check
