Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

config: 782129 disable exactOptionalPropertyTypes
  tsconfig.security.json
Due: prettier --check

feature: 782129 add the interfaces of health including controllers
  src/modules/health/interfaces/controllers/v1.controller.ts
Due: eslint --fix, prettier --check

config: 782129 add the secret files
  .env.production
Due: none

chore: 782129 add some packages related to axios, redis, cqrs, terminus and typeorm
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 782129 remove the controller and service
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
Due: eslint --fix, prettier --check

chore: 782129 add some global constants and utils
  src/common/constants/index.ts
  src/common/utils/environments.util.ts
  src/common/utils/getCurrentUTCTimestamp.util.ts
  src/common/utils/readSecret.util.ts
Due: eslint --fix, prettier --check

feature: 782129 add the excepitions and the indicators of database, nestjs website and redis of health
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
Due: eslint --fix, prettier --check

chore: 782129 add the common exception
  src/common/kernel/exceptions/app.exception.ts
Due: eslint --fix, prettier --check

chore: 782129 add REDIS_DB
  .env
  .env.production
Due: none

chore: 782129 add the some common infrastructure related to redis and postgres, ...
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/config/config.module.ts
  src/common/infrastructure/database/database.module.ts
  src/common/infrastructure/database/databaseConfig.service.ts
  src/common/infrastructure/database/naming.strategy.ts
  src/common/infrastructure/redis/redis.module.ts
  src/common/infrastructure/redis/redisConfig.service.ts
Due: eslint --fix, prettier --check

chore: 782129 ignore the TODO file
  .gitignore
Due: none

feature: 782129 add the module of health
  src/modules/health/health.module.ts
Due: eslint --fix, prettier --check

feature: 782129 add the aggrigates and entities of health
  eslint.config.mjs
  src/modules/health/domain/entities/health.entity.ts
  src/modules/health/domain/interfaces/healthIndicator.interface.ts
Due: eslint --fix, prettier --check

config: 782129 add the pnpm-lock.yaml file
  Dockerfile
Due: none

config: 782129 use corepack instead of npm
  Dockerfile
Due: none

feature: 782129 import the health module
  src/app.module.ts
Due: eslint --fix, prettier --check

feature: 782129 add the applications of health including queries and services
  src/modules/health/applications/queries/getHealth/getHealth.Handler.ts
  src/modules/health/applications/queries/getHealth/getHealth.query.ts
  src/modules/health/applications/services/health.service.ts
Due: eslint --fix, prettier --check

chore: 782129 rename getHealth.Handler.ts to getHealth.handler.ts
  src/modules/health/applications/queries/getHealth/getHealth.handler.ts
Due: eslint --fix, prettier --check

chore: 562441 use /v1/api/health path
  Dockerfile
  docker-compose.swarm.ci.yml
  docker-compose.swarm.development.yml
Due: prettier --check

ci: 562441 add fetch-depth
  .github/workflows/master-ci.yaml
Due: prettier --check

ci: 562441 remove fetch-depth
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 562441 remove pnpm-lock.yaml file
  Dockerfile
Due: none

fix: package.json & pnpm-lock.yaml to reduce vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 782129 add pnpm-lock.yaml file
  .dockerignore
  Dockerfile
Due: none

chore: 782129 use the new version of axios
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 782129 increase the timout and use a warning log
  scripts/common/docker/runner.sh
Due: none

chore: 782129 use the latest tag
  scripts/development/entrypoint.sh
Due: none

chore: 782129 rename JWT_SECRET
  .env
  .env.production
Due: none

chore: 782129 add some corepack envs to prevent prompt inside docker container
  Dockerfile
Due: none

chore: 782129 add a version to pnpm
  package.json
Due: prettier --check

chore: 782129 add the pnpm version
  .github/actions/setup-node/action.yaml
Due: prettier --check

chore: 782129 convert swarm to composee
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.swarm.development.yml
Due: prettier --check

ci: 782129 add the steps of creating the secrets and cleanup
  .github/workflows/master-ci.yaml
Due: prettier --check

ci: 782129 do not pull the service
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 782129 remove some extra vars
  scripts/development/entrypoint.sh
Due: none

chore: 782129 convert swarm to compose
  scripts/common/docker/pipelines.sh
  scripts/common/docker/runner.sh
  scripts/common/docker/validations.sh
  scripts/common/docker/vars.sh
Due: none

chore: 782129 use a simple healthcheck for redis
  docker-compose.development.yml
Due: prettier --check

chore: 782129 use a simple healthcheck for redis
  docker-compose.ci.yml
Due: prettier --check

chore: 782129 add INT for cleanup trap
  scripts/common/docker/runner.sh
Due: none

chore: 782129 fix the exit code
  scripts/common/docker/entrypoint.sh
Due: none
