Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

chore: 880392 add the production pipeline
  scripts/common/docker/pipelines.sh
Due: none

chore: 880392 add init option and make more robust around the healthcheck
  docker-compose.production.yml
Due: prettier --check

cd: 880392 add the smtp_password secret
  .github/workflows/master-ci.yaml
  .github/workflows/release.yaml
Due: prettier --check

chore: 880392 use the key=value format
  docker-compose.ci.yml
  docker-compose.development.yml
Due: prettier --check

chore: 880392 remove the quotes around the POSTGRES_INITDB_ARGS env
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
Due: prettier --check

chore: 880392 remove some security options caused to do not run the postgres backup service
  docker-compose.production.yml
Due: prettier --check

chore: 880392 add an internal network for redis and postgres
  docker-compose.production.yml
Due: prettier --check

chore: 880392 add minimatch as overrides of pnpm
  package.json
  pnpm-lock.yaml
Due: prettier --check

chore: 880392 update lockfile with minimatch overrides
  pnpm-lock.yaml
Due: prettier --check

chore: 880392 use 'eslint-plugin-import-x' instead of 'eslint-plugin-import'
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --check

fix: 880392 use import-x/no-commonjs
  commitlint.config.js
Due: eslint --fix, prettier --check

chore: 037364 ignore no-unsafe rules
  eslint.config.mjs
Due: none

chore: 037364 add the resolveJsonModule option
  tsconfig.json
Due: prettier --check

chore: 037364 add the swagger and env-cmd packages
  package.json
  pnpm-lock.yaml
Due: prettier --check

feature: 037364 add the swagger configuration and module
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/swagger/swagger.module.ts
  src/common/infrastructure/swagger/swagger.service.ts
Due: eslint --fix, prettier --check

chore: 037364 create the swagger constatns
  src/common/infrastructure/swagger/swagger.constants.ts
  src/common/infrastructure/swagger/swagger.service.ts
Due: eslint --fix, prettier --check

refactor: 338882 split the constants to domains specific
  src/common/constants/app.constants.ts
  src/common/constants/database.constants.ts
  src/common/constants/index.ts
  src/common/constants/redis.constants.ts
  src/common/infrastructure/database/database.constants.ts
  src/common/infrastructure/database/databaseConfig.service.ts
  src/common/infrastructure/redis/redis.constants.ts
  src/common/infrastructure/redis/redisConfig.service.ts
  src/main.ts
  src/modules/health/infrastructure/constants/nestjsWebsite.constants.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
Due: eslint --fix, prettier --check

Revert "refactor: 338882 split the constants to domains specific"
  src/common/constants/app.constants.ts
  src/common/constants/database.constants.ts
  src/common/constants/index.ts
  src/common/constants/redis.constants.ts
  src/common/infrastructure/database/database.constants.ts
  src/common/infrastructure/database/databaseConfig.service.ts
  src/common/infrastructure/redis/redis.constants.ts
  src/common/infrastructure/redis/redisConfig.service.ts
  src/main.ts
  src/modules/health/infrastructure/constants/nestjsWebsite.constants.ts
  src/modules/health/infrastructure/indicators/database.indicator.ts
  src/modules/health/infrastructure/indicators/nestjsWebsite.indicator.ts
  src/modules/health/infrastructure/indicators/redis.indicator.ts
Due: eslint --fix, prettier --check

chore: 037364 add the version of the app as a provider
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/swagger/swagger.service.ts
  src/common/infrastructure/version/version.constants.ts
  src/common/infrastructure/version/version.implementation.ts
  src/common/infrastructure/version/version.interface.ts
  src/common/infrastructure/version/version.module.ts
  src/common/infrastructure/version/version.provider.ts
Due: eslint --fix, prettier --check

chore: 037364 move the version constants to the global constants
  src/common/constants/version.constants.ts
  src/common/infrastructure/swagger/swagger.service.ts
  src/common/infrastructure/version/version.provider.ts
Due: eslint --fix, prettier --check

release: 1.1.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  94f6ecc769b05926acbaf4021ceeaef34b2a4132
Due: none

chore: 686504 add the global exception
  src/common/constants/exception.constants.ts
  src/common/infrastructure/common.module.ts
  src/common/infrastructure/exception/exception.filter.ts
  src/common/infrastructure/exception/exception.module.ts
  src/common/infrastructure/exception/exceptionExtractor.interface.ts
  src/common/infrastructure/exception/exceptionResponse.builder.ts
  src/common/infrastructure/exception/exceptionResponse.interface.ts
  src/common/infrastructure/exception/fallbackException.extractor.ts
  src/common/infrastructure/exception/fallbackHost.handler.ts
  src/common/infrastructure/exception/hostHandler.interface.ts
  src/common/infrastructure/exception/httpException.extractor.ts
  src/common/infrastructure/exception/httpHost.handler.ts
  src/common/infrastructure/exception/standardException.extractor.ts
Due: eslint --fix, prettier --check

chore: 125823 add the custom pathes which starts with @
  tsconfig.json
Due: prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
