Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 874920 use maximum limit
  src/modules/bill/interface/dtos/findBillList.request.dto.ts
  src/modules/user/interfaces/dtos/findUserList.request.dto.ts
Due: eslint --fix, prettier --check

release: 3.0.0 [skip ci] (major)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  7a14b463f53e0fe10b4e1347cea0b46f6816b034
Due: none

chore: 310686 use auto for endOfLine
  .prettierrc
Due: none

feature: 636067 add the getting receiver list api
  src/modules/receiver/applications/services/userReceiver.service.ts
  src/modules/receiver/interfaces/controllers/controllers.constants.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/dtos/findUserReceiverTargets.request.dto.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

feature: 193049 add the getting receiver api
  src/core/interfaces/repositories/findTargetByRefIdAndTargetIdOrThrowRepository.interface.ts
  src/modules/receiver/applications/queries/findUserReceiverTargetByRefIdAndTargetIdOrThrow/findUserReceiverTargetByRefIdAndTargetIdOrThrow.handler.ts
  src/modules/receiver/applications/queries/findUserReceiverTargetByRefIdAndTargetIdOrThrow/findUserReceiverTargetByRefIdAndTargetIdOrThrow.query.ts
  src/modules/receiver/applications/services/userReceiver.service.ts
  src/modules/receiver/domain/interfaces/userReceiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/dtos/findUserReceiverTarget.request.dto.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

release: 3.1.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  7bdf32f866b2a6e7fc0b11d98d91719f4ec77251
Due: none

chore: 325796 add orderBy
  src/modules/location/infrastructure/repositories/userLocation.repository.ts
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
Due: eslint --fix, prettier --check

feature: 309061 add getting location list api
  src/modules/location/applications/services/userLocation.service.ts
  src/modules/location/interfaces/controllers/controllers.constants.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/dtos/findUserLocationTargets.request.dto.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

release: 3.2.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  30ea69373fa0abd36f8a1c71fb8e1a830e343b86
Due: none

feature: 428924 add the location api
  src/modules/location/applications/queries/findUserLocationTargetByRefIdAndTargetIdOrThrow/findUserLocationTargetByRefIdAndTargetIdOrThrow.handler.ts
  src/modules/location/applications/queries/findUserLocationTargetByRefIdAndTargetIdOrThrow/findUserLocationTargetByRefIdAndTargetIdOrThrow.query.ts
  src/modules/location/applications/services/userLocation.service.ts
  src/modules/location/domain/interfaces/userLocationRepository.interface.ts
  src/modules/location/infrastructure/repositories/userLocation.repository.ts
  src/modules/location/interfaces/controllers/controllers.constants.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/dtos/findUserLocationTarget.request.dto.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

release: 3.3.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  25a3d00ba3e8cf23d064cc8ffa4c2e493707f66b
Due: none

feature: 536448 add getting the consumers target api
  src/modules/consumer/applications/queries/findUserConsumerTargetsByRefId/findUserConsumerTargetsByRefId.handler.ts
  src/modules/consumer/applications/queries/findUserConsumerTargetsByRefId/findUserConsumerTargetsByRefId.query.ts
  src/modules/consumer/applications/services/userConsumer.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/userConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/consumer/interfaces/dtos/findUserConsumerTargets.request.dto.ts
Due: eslint --fix, prettier --check

release: 3.4.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  758206b5b8537ba40b33aa7d46d19a75c09de985
Due: none

feature: 953310 add the consumer api
  src/modules/consumer/applications/queries/findUserConsumerTargetByRefIdAndTargetIdOrThrow/findUserConsumerTargetByRefIdAndTargetIdOrThrow.handler.ts
  src/modules/consumer/applications/queries/findUserConsumerTargetByRefIdAndTargetIdOrThrow/findUserConsumerTargetByRefIdAndTargetIdOrThrow.query.ts
  src/modules/consumer/applications/services/userConsumer.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/userConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/consumer/interfaces/dtos/findUserConsumerTarget.request.dto.ts
Due: eslint --fix, prettier --check

release: 3.5.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  369ed4c9f65dd451f026afd840a9d0fcec84cbe6
Due: none

feature: 415500 add the receiver creation api
  eslint.config.mjs
  src/core/dtos/id.response.dto.ts
  src/core/entities/id.entity.ts
  src/modules/receiver/applications/services/createReceiver.service.ts
  src/modules/receiver/applications/services/receiver.service.ts
  src/modules/receiver/interfaces/controllers/controllers.constants.ts
  src/modules/receiver/interfaces/controllers/v1.controller.ts
  src/modules/receiver/interfaces/dtos/createReceiver.request.dto.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

release: 3.6.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  806c2af6d136e2959e287fa12b5593dd181af95b
Due: none

feature: 968638 add the location creation api
  src/modules/location/applications/services/createLocation.service.ts
  src/modules/location/applications/services/location.service.ts
  src/modules/location/interfaces/controllers/controllers.constants.ts
  src/modules/location/interfaces/controllers/v1.controller.ts
  src/modules/location/interfaces/dtos/createLocation.request.dto.ts
  src/modules/location/location.module.ts
Due: eslint --fix, prettier --check

release: 3.7.0 [skip ci] (minor)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  b8ad9c4b4701e0e4687da599f200e6831c41f506
Due: none

feature: 833826 add the consumer creation api
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/consumer/applications/commands/createConsumer/createConsumer.command.ts
  src/modules/consumer/applications/commands/createConsumer/createConsumer.handler.ts
  src/modules/consumer/applications/commands/createManyConsumers/createManyConsumers.command.ts
  src/modules/consumer/applications/commands/createManyUsersConsumers/createManyUsersConsumers.command.ts
  src/modules/consumer/applications/commands/createUserConsumer/createUserConsumer.command.ts
  src/modules/consumer/applications/commands/createUserConsumer/createUserConsumer.handler.ts
  src/modules/consumer/applications/queries/findConsumerByNameOrNull/findConsumerByNameOrNull.handler.ts
  src/modules/consumer/applications/queries/findConsumerByNameOrNull/findConsumerByNameOrNull.query.ts
  src/modules/consumer/applications/queries/findManyConsumersByNames/findManyConsumersByNames.query.ts
  src/modules/consumer/applications/queries/findManyUsersConsumersByRefIdAndTargetIds/findManyUsersConsumersByRefIdAndTargetIds.query.ts
  src/modules/consumer/applications/queries/findUserConsumerByRefIdAndTargetIdOrNull/findUserConsumerByRefIdAndTargetIdOrNull.handler.ts
  src/modules/consumer/applications/queries/findUserConsumerByRefIdAndTargetIdOrNull/findUserConsumerByRefIdAndTargetIdOrNull.query.ts
  src/modules/consumer/applications/services/consumer.service.ts
  src/modules/consumer/applications/services/createConsumer.service.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/domain/interfaces/userConsumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/consumer/interfaces/controllers/controllers.constants.ts
  src/modules/consumer/interfaces/controllers/v1.controller.ts
  src/modules/consumer/interfaces/dtos/createConsumer.request.dto.ts
Due: eslint --fix, prettier --check

refactor: 833826 update the bill creation process
  src/core/interfaces/repositories/IsExistsByIdRepository.interface.ts
  src/core/interfaces/repositories/IsExistsByIdsRepository.interface.ts
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/modules/bill/applications/services/bill.service.ts
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/interface/controllers/v1.controller.ts
  src/modules/bill/interface/dtos/createBill.request.dto.ts
  src/modules/consumer/applications/queries/isConsumerExistsByIds/isConsumerExistsByIds.handler.ts
  src/modules/consumer/applications/queries/isConsumerExistsByIds/isConsumerExistsByIds.query.ts
  src/modules/consumer/consumer.module.ts
  src/modules/consumer/domain/interfaces/consumerRepository.interface.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/location/applications/queries/isLocationExistsById/isLocationExistsById.handler.ts
  src/modules/location/applications/queries/isLocationExistsById/isLocationExistsById.query.ts
  src/modules/location/domain/interfaces/locationRepository.interface.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/location.module.ts
  src/modules/receiver/applications/queries/isReceiverExistsById/isReceiverExistsById.hander.ts
  src/modules/receiver/applications/queries/isReceiverExistsById/isReceiverExistsById.query.ts
  src/modules/receiver/domain/interfaces/receiverRepository.interface.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/receiver.module.ts
Due: eslint --fix, prettier --check

refactor: 833826 move the drizzle transformer to the related file
  src/infrastructure/database/drizzle/drizzle.transformer.ts
  src/infrastructure/database/drizzle/transformers/toEntities.transformer.ts
  src/infrastructure/database/drizzle/transformers/toEntityOrNull.transformer.ts
  src/infrastructure/database/drizzle/transformers/toEntityOrThrow.transformer.ts
  src/infrastructure/database/drizzle/transformers/toIsExistsByCount.transformer.ts
  src/modules/bill/infrastructure/repositories/bill.repository.ts
  src/modules/consumer/infrastructure/repositories/billConsumer.repository.ts
  src/modules/consumer/infrastructure/repositories/consumer.repository.ts
  src/modules/consumer/infrastructure/repositories/userConsumer.repository.ts
  src/modules/location/infrastructure/repositories/location.repository.ts
  src/modules/location/infrastructure/repositories/userLocation.repository.ts
  src/modules/receiver/infrastructure/repositories/receiver.repository.ts
  src/modules/receiver/infrastructure/repositories/userReceiver.repository.ts
  src/modules/user/infrastructure/repositories/user.repository.ts
Due: eslint --fix, prettier --check
