Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --check"],
  "*.{json,md,yml,yaml}": ["prettier --check"]
}

chore: 326422 update use printf
  scripts/common/logs.sh
Due: none

chore: 326422 create the docker entrypoint scripts
  scripts/ci/entrypoint.sh
  scripts/common/entrypoint.sh
  scripts/development/entrypoint.sh
Due: none

chore: 326422 changes related to the format
  .branch.namerc.json
  .github/actions/scan-docker-image/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/master-ci.yaml
  .github/workflows/pr-ci.yaml
  .github/workflows/release.yaml
  .lintstagedrc
  .prettierrc
  .releaserc.json
  commitlint.config.js
  docker-compose.swarm.ci.yml
  docker-compose.swarm.development.yml
  eslint.config.mjs
  nest-cli.json
  package.json
  pnpm-lock.yaml
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/main.ts
  tsconfig.build.json
  tsconfig.eslint.json
  tsconfig.json
  tsconfig.security.json
Due: eslint --fix, prettier --check

chore: 326422 edit the cleanup function
  scripts/common/entrypoint.sh
Due: none

chore: 326422 add bash command
  package.json
Due: prettier --check

chore: 326422 remove all the docker scrits
  scripts/ci/docker/build/Dockerfile
  scripts/ci/docker/build/index.sh
  scripts/ci/docker/checkHealthy/Dockerfile
  scripts/ci/docker/checkHealthy/index.sh
  scripts/ci/docker/cleanup/Dockerfile
  scripts/ci/docker/cleanup/index.sh
  scripts/ci/docker/push/Dockerfile
  scripts/ci/docker/push/index.sh
  scripts/ci/docker/run/Dockerfile
  scripts/ci/docker/run/index.sh
  scripts/ci/docker/vars/Dockerfile
  scripts/ci/docker/vars/index.sh
  scripts/ci/entrypoint.sh
Due: none

chore: 326422 use local vars for docker
  scripts/development/entrypoint.sh
Due: none

chore: 326422 add the common commands related to the docker
  scripts/common/docker/entrypoint.sh
  scripts/common/docker/pipelines.sh
  scripts/common/docker/runner.sh
  scripts/common/docker/validations.sh
  scripts/common/docker/vars.sh
Due: none

chore: 326422 add the validations and vars scripts
  scripts/common/docker/validations.sh
  scripts/common/docker/vars.sh
  scripts/common/entrypoint.sh
Due: none

chore: 326422 update the step for the master-ci related to docker
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 326422 use just env
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 326422 use another shellcheck
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 326422 fix the exclude paths
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 326422 add the scan step
  .github/workflows/master-ci.yaml
Due: prettier --check

chore: 326422 remove the startDocker scripts
  scripts/common/startDocker.sh
  scripts/development/startDocker.sh
Due: none

chore: 326422 update the configs for docker files
  Dockerfile
  docker-compose.swarm.ci.yml
  docker-compose.swarm.development.yml
Due: prettier --check

chore: 326422 add the docker entrypoint scripts
  package.json
  scripts/ci/entrypoint.sh
  scripts/common/entrypoint.sh
  scripts/development/entrypoint.sh
Due: prettier --check

chore: 326422 add the node and ignore a rule of dockerfile
  .github/workflows/master-ci.yaml
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 326422 use v4 for CodeQL
  .github/workflows/pr-ci.yaml
Due: prettier --check

chore: 326422 update the args
  .github/workflows/pr-ci.yaml
Due: prettier --check

ci: 326422 remove extra args
  .github/workflows/pr-ci.yaml
Due: prettier --check

ci: 326422 remove the gitleak args
  .github/workflows/pr-ci.yaml
Due: prettier --check
