Repository mohammaDJ23/expense-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --check

fix: 951809 update the version of brace-expansion
  package.json
Due: prettier --check

fix: 951809 update the version of brace-expansion
  pnpm-lock.yaml
Due: prettier --check

chore: 951809 add the knip config file
  knip.json
Due: prettier --check

chore: 951809 remove tne ignore property
  knip.json
Due: prettier --check

chore: 951809 add the backup configuration
  .dockerignore
  .gitignore
  Dockerfile.postgresql
  backup.cron
  docker-compose.ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  scripts/database/backup.sh
  scripts/database/entrypoint.sh
Due: prettier --check

chore: 951809 remove the backup service
  docker-compose.ci.yml
  docker-compose.production.yml
Due: prettier --check

chore: 951809 remove the backup config from docker development
  docker-compose.development.yml
Due: prettier --check

release: 4.0.1 [skip ci] (patch)
  CHANGELOG.md
  package.json
Due: prettier --check

Notes added by 'git notes add'
  e63ed8f08963d44d5e4325b673accc670e0b59c7
Due: none

chore: 686199 add the repo, commands and service of outbox module
  eslint.config.mjs
  src/core/interfaces/cqrs/createCqrs.interface.ts
  src/core/interfaces/cqrs/deleteCqrs.interface.ts
  src/core/interfaces/cqrs/updateCqrs.interface.ts
  src/core/interfaces/repositories/deleteManyByDateRepository.interface.ts
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.handler.ts
  src/modules/outbox/applications/commands/deleteManyOutboxEventsByDate/deleteManyOutboxEventsByDate.command.ts
  src/modules/outbox/applications/commands/deleteManyOutboxEventsByDate/deleteManyOutboxEventsByDate.handler.ts
  src/modules/outbox/applications/services/deleteManyOutboxEvents.service.ts
  src/modules/outbox/domain/interfaces/outboxEventPayload.interface.ts
  src/modules/outbox/domain/interfaces/outboxEventRepository.interface.ts
  src/modules/outbox/infrastructure/repositories/outboxEvent.repository.ts
  src/modules/outbox/infrastructure/schemas/outboxEvent.schema.ts
  src/modules/outbox/outbox.module.ts
Due: eslint --fix, prettier --check

chore: 686199 add the updatedAt to ICreateEntity
  src/core/interfaces/cqrs/createCqrs.interface.ts
Due: eslint --fix, prettier --check

chore: 686199 update the CreateOutboxEventCommand arg
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
Due: eslint --fix, prettier --check

chore: 686199 add the events inside the receiver modules
  src/core/interfaces/cqrs/createCqrs.interface.ts
  src/modules/receiver/applications/services/createReceiver.service.ts
  src/modules/receiver/applications/services/deleteReceiver.service.ts
  src/modules/receiver/applications/services/updateReceiver.service.ts
  src/modules/receiver/domain/interfaces/receiverOutboxEvent.interface.ts
Due: eslint --fix, prettier --check

chore: 686199 remove cqrs types
  src/core/interfaces/cqrs/createCqrs.interface.ts
  src/core/interfaces/cqrs/deleteCqrs.interface.ts
  src/core/interfaces/cqrs/updateCqrs.interface.ts
  src/modules/outbox/applications/commands/createOutboxEvent/createOutboxEvent.command.ts
Due: eslint --fix, prettier --check

chore: 686199 add the events inside the location modules
  src/modules/location/applications/services/createLocation.service.ts
  src/modules/location/applications/services/deleteLocation.service.ts
  src/modules/location/applications/services/updateLocation.service.ts
  src/modules/location/domain/interfaces/locationOutboxEvent.interface.ts
Due: eslint --fix, prettier --check

chore: 686199 add the events inside the consumer module
  src/modules/consumer/applications/services/createConsumer.service.ts
  src/modules/consumer/applications/services/deleteConsumer.service.ts
  src/modules/consumer/applications/services/updateConsumer.service.ts
  src/modules/consumer/domain/interfaces/consumerOutboxEvent.interface.ts
Due: eslint --fix, prettier --check

chore: 686199 add Injectable
  src/modules/outbox/applications/services/deleteManyOutboxEvents.service.ts
Due: eslint --fix, prettier --check

chore: 686199 add the outbox moduels
  src/app.module.ts
Due: eslint --fix, prettier --check

chore: 686199 add the outbox events to the bill module
  eslint.config.mjs
  src/modules/bill/applications/services/createBill.service.ts
  src/modules/bill/applications/services/deleteBill.service.ts
  src/modules/bill/applications/services/updateBill.service.ts
  src/modules/bill/domain/interfaces/billOutboxEvent.interface.ts
  src/modules/outbox/domain/interfaces/outboxEventPayload.interface.ts
Due: eslint --fix, prettier --check

chore: 686199 remove the unnecessary comment
  eslint.config.mjs
  src/common/utils/isEmpty.util.ts
  src/common/utils/isNotEmpty.util.ts
Due: eslint --fix, prettier --check

fix: 686199 fix the conflict
  eslint.config.mjs
Due: none

chore: 339587 update the create user command arg
  src/modules/user/applications/commands/createUser/createUser.command.ts
  src/modules/user/applications/commands/createUser/createUser.handler.ts
  src/modules/user/domain/abstracts/user.abstract.ts
  src/modules/user/domain/interfaces/userAbstract.interface.ts
Due: eslint --fix, prettier --check

chore: 339587 update the delete user command arg
  src/modules/user/applications/commands/deleteUser/deleteUser.command.ts
  src/modules/user/applications/commands/deleteUser/deleteUser.handler.ts
  src/modules/user/applications/services/deleteUser.service.ts
Due: eslint --fix, prettier --check

chore: 339587 update the update user command arg
  src/modules/user/applications/commands/updateUser/updateUser.command.ts
  src/modules/user/applications/commands/updateUser/updateUser.handler.ts
Due: eslint --fix, prettier --check

Path conditions:
  eslint --fix: any of: *.{js,ts}
  prettier --check: (any of: *.{js,ts}) or (any of: *.{json,md,yml,yaml})
